{% extends 'base.html'%}enctype="multipart/form-data" action="{% url 'Addcustomers' %}" method="POST"
{% load static %}
{% block content%}

 <div id="page-content">
                    
					<div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Add new customers</h3>
                                </div>
                    
                                <!--Block Styled Form -->
                                <!--===================================================-->
                                <form enctype="multipart/form-data" action="{% url 'Addcustomers' %}" method="POST">
                                {% csrf_token %}
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">Firstname</label>
                                                    <input type="text" class="form-control" name="FirstName" required> 
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">Lastname</label>
                                                    <input type="text" class="form-control" name="LastName" required> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">ID number</label>
                                                    <input type="number" class="form-control" name="IDnumber" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">Phone Number</label>
                                                    <input type="number" class="form-control" name="Phone" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Province</label>
                                                    <input type="text" class="form-control" name="Province" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">District</label>
                                                    <input type="text" class="form-control" name="District"required>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Sector</label>
                                                    <input type="text" class="form-control"name="Sector"required>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Cell</label>
                                                    <input type="text" class="form-control" name="Cell"required>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">Meter Number</label>
                                                    <select class="form-control" name="Meternumber"required>
                                                       <option value="Select meter number">Select meter number</option> 
                                                    {% for meter in Meter %}

                                                       <option value="{{meter.id}}">{{meter.Meternumber}}</option> 
                                                    {% endfor %}
                                                       
                                                    </select>  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-right">
                                        <button class="btn btn-block btn-success" type="submit">Submit</button>
                                    </div>
                                </form>
                                <!--===================================================-->
                                <!--End Block Styled Form -->
                    
                            </div>
					
					
					
					
					
					
					
                </div>

{% endblock content%}