{% extends 'base.html'%}
{% load static %}
{% block content%}

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
 <div id="page-content">
                    
					<div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Add new customers</h3>
                                </div>
                    
                                <!--Block Styled Form -->
                                <!--===================================================-->
                                <form enctype="multipart/form-data" action="{% url 'Addcustomers' %}" method="POST">
                                {% csrf_token %}
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">Firstname</label>
                                                    <input type="text" class="form-control" name="FirstName" required> 
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">Lastname</label>
                                                    <input type="text" class="form-control" name="LastName" required> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">ID number</label>
                                                    <input type="number" class="form-control" name="IDnumber" required>
                                                </div>
                                            </div>
                                            
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Province</label>
                                                    <input type="text" class="form-control" name="Province" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">District</label>
                                                    <input type="text" class="form-control" name="District"required>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Sector</label>
                                                    <input type="text" class="form-control"name="Sector"required>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Cell</label>
                                                    <input type="text" class="form-control" name="Cell"required>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">Meter Number</label>
                                                    <select class="form-control" name="Meternumber">
                                                       <option value="">Select meter number</option> 
                                                    {% for meter in Meter %}

                                                       <option value="{{meter.id}}">{{meter.Meternumber}}</option> 
                                                    {% endfor %}
                                                       
                                                    </select>  
                                                </div>
                                            </div>
                                             <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">Language</label>
                                                    <select class="form-control" name="Language"required>
                                                       <option value="">Select preferably Language</option> 
                                                       <option value="English">English</option> 
                                                       <option value="Kinyarwanda">Kinyarwanda</option> 
                                                    </select>                                                
                                            </div>
                                            </div>
                                            <div class="col-sm-12">
                                                 <div class="form-group">
                                                    <label class="control-label">Users</label>
                                                 
                                                   <select style="width:100%" class="js-example-basic-single" name="user_id" required>
                                                       <option value="">Select user email</option> 
                                                    {% for user in users %}

                                                       <option value="{{user.id}}">{{user.email}}</option> 
                                                    {% endfor %}
                                                       
                                                    </select>   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-right">
                                        <button class="btn btn-block btn-success" type="submit">Submit</button>
                                    </div>
                                </form>
                                <!--===================================================-->
                                <!--End Block Styled Form -->
                    
                            </div>
					
					
					
					
					
					
					
                </div>
<script>
$(document).ready(function() {
    $('.js-example-basic-single').select2();
});

</script>
{% endblock content%}