{% extends 'base.html'%}
{% load static %}
{% block content%}
{% load humanize %}

 <div id="page-content">
                    
					<div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Blogs</h3>
                        </div>
                    
                        <!--Data Table-->
                        <!--===================================================-->
                        <div class="panel-body">
                            <div class="pad-btm form-inline">
                                <div class="row">
                                    
                                    <div class="col-sm-12 table-toolbar-right">
                                    <a href="{% url 'addBlog' %}" id="demo-btn-addrow" class="btn btn-purple"><i class="demo-pli-add"></i> Add new</a>

                                        <div class="btn-group">
                                            <div class="form-group">
                                        <form class="form-inline my-2 my-lg-0" action="{% url 'Viewblog'%}">
                                        <input id="demo-input-search2" type="text" name="search" placeholder="Search by title" class="form-control" autocomplete="off">
                                        <button class="btn btn-success my-2 my-sm-0" type="submit">Search
                                        {% comment %} <i class="fa fa-search"></i> {% endcomment %}
                                        </button>
                                        </form>
                                        </div>
                                   
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped" style="border: 1px">
                                    <thead>
                                        <tr>
                                            <th class="text-left">ID</th>
                                            <th>Images</th>
                                            <th>Title</th>
                                            <th>Details</th>
                                            <th>Published at</th>
                                            <th>Actions</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for blog in page_obj %}
                                    <tr>
                                            <td><a class="btn-link" href="#">{{blog.id}}</a></td>
                                            <td> <img src="{{blog.Image.url}}" alt="" style="height:80px;width:100px"></td>
                                            <td>{{blog.Title}}</td>
                                            <td>{{blog.Details|slice:"50"}}...</td>
                                            <td>{{blog.Published_at}}</td> 
                                            <td>

                                                {% if  blog.publish %}
                                                <a onclick="return confirm('Are you sure you want to Unpublish this blog?')" href="{% url 'publishblog' blog.id %}">
                                                <button class="btn btn-success">Publish</button>
                                                </a>
                                            {% else %}
                                                <a onclick="return confirm('Are you sure you want to Publish this blog?')" href="{% url 'unpublish' blog.id %}">
                                                <button class="btn btn-warning">Unpublish</button>
                                                </a>
                                            {% endif %}


                                                <a href="{% url 'updateBlog' blog.id %}">
                                                    <button class="btn btn-primary">Update</button>
                                                    </a>
                                                    <a onclick="return confirm('Are you sure you want to delete this?')" href="{% url 'delete_blog' blog.id %}">
                                                    <button class="btn btn-danger">Delete</button>
                                                    </a>


                                            </td>


                                        </tr>

                                    {% endfor %}
                                        
                                    
                                        </tbody>
                                </table>
                            </div>
                            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-primary mb-4" href="?page=1">&laquo; first</a>
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.next_page_number }}">next</a>
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
                        </div>
                        <!--===================================================-->
                        <!--End Data Table-->
                    
                    </div>
					
					
					
					
					
					
					
                </div>

{% endblock content%}