{% extends 'base.html'%}
{% load static %}
{% block content%}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

 <div id="page-content">
                    
					<div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Buy water manually</h3>
                                </div>
                    
                                <!--Block Styled Form -->
                                <!--===================================================-->
                                <form enctype="multipart/form-data" action="{% url 'troubleshoot' %}" method="POST">
                                {% csrf_token %}
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Customer</label>
                                                        <select class="js-example-basic-single form-control" name="customer" required>
                                                            <option value="">Select Customer</option> 
                                                        {% for customer in customers %}

                                                        <option value="{{customer.id}}">{{customer.FirstName}} {{customer.LastName}}</option> 
                                                        {% endfor %} 
                                                        </select>  
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Amount</label>
                                                        <input type="number" class="form-control" name="amount" required> 
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label class="control-label">TransactionID</label>
                                                        <input type="number" class="form-control" name="transid" required> 
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="row">
                                            <div class="col-sm-12" style="margin-bottom:20px">
                                                <select style="width:100%" class="js-example-basic-single" name="Ptype" required>
                                                    <option value="">Select Payment Type</option> 
                                                    <option value="Mobile money">Mobile money</option>                                                   
                                                    <option value="Manual">Manual</option>                                                   
                                                 </select> 
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-right">
                                        <button class="btn btn-block btn-success" type="submit">Send token</button>
                                    </div>
                                </form>
                                <!--===================================================-->
                                <!--End Block Styled Form -->
                    
                            </div>
					
					
					
					
					
					
					
                </div>


                <script>
                    $(document).ready(function() {
                        $('.js-example-basic-single').select2();
                    });
                    
                    </script>
                    
                    <script>
                        $(document).ready(function() {
                            $('.js-example-basic-single2').select2();
                        });
                        
                        </script>

{% endblock content%}