{% extends 'base.html'%}
{% load static %}
{% block content%}

 <div id="page-content">
                    
					<div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Customers</h3>
                        </div>
                    
                        <!--Data Table-->
                        <!--===================================================-->
                        <div class="panel-body">
                            <div class="pad-btm form-inline">
                                <div class="row">
                                    
                                    <div class="col-sm-12 table-toolbar-right">
                                        <a href="{% url 'add_customer' %}" id="demo-btn-addrow" class="btn btn-purple"><i class="demo-pli-add"></i> Add new</a>

                                        <div class="btn-group">
                                            <div class="form-group">
                                        <form class="form-inline my-2 my-lg-0" action="{% url 'customers'%}">
                                        <input id="demo-input-search2" type="text" name="search" placeholder="Search by Fisrtname" class="form-control" autocomplete="off">
                                        <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></buttn>
                                        </form>
                                        </div>
                                   
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped" style="border: 1px">
                                    <thead>
                                        <tr>
                                            <th>Names</th>
                                            <th>Meter Number</th>
                                            <th>ID number</th>
                                            <th>Phone number</th>
                                            <th>Province</th>
                                            <th>District</th>
                                            <th>Sector</th>
                                            <th>Cell</th>
                                            <th>created at</th>
                                            <th>Action</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for customer in page_obj %}
                                    <tr>
                                            <td>{{customer.FirstName}} {{customer.LastName}}</td>
                                            <td>{{customer.Meternumber}}</td>
                                            <td><span class="text-muted"> {{customer.IDnumber}}</span></td>
                                            <td>{{customer.user.phone}}</td>
                                            <td>{{customer.Province}}</td>
                                            <td>{{customer.District}}</td>
                                            <td>{{customer.Sector}}</td>
                                            <td>{{customer.Cell}}</td>
                                            <td>{{customer.created_at}}</td>

                                            <td>
                                                <a href="{% url 'transactions' customer.id %}">
                                                    <button class='btn btn-success' title="Transactions"> <i class='fa fa-eye'></i> </button>
                                                </a>
                                            {% comment %} <a href="{% url 'add_new_sub' customer.id %}">
                                                    <button class='btn btn-warning' title="Add new subscription"> <i class='fa fa-plus'></i> </button>
                                                </a> {% endcomment %}
                                            <a href=" {% url 'update_customer' customer.id %}">
                                                <button class="btn btn-primary" title="Update"><i class='fa fa-pencil'></i></button>
                                            </a>

                                            <a onclick="return confirm('Are you sure you want to delete this customer?')" href="{% url 'deleteCustomer' customer.id %}">
                                                <button class="btn btn-danger">Delete</button>
                                            </a>
                                            
                                            </td>
                                            
                                        </tr>

                                    {% endfor %}
                                        
                                    
                                        </tbody>
                                </table>
                            </div>
                            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-primary mb-4" href="?page=1">&laquo; first</a>
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.next_page_number }}">next</a>
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
                        </div>
                        <!--===================================================-->
                        <!--End Data Table-->
                    
                    </div>
					
					
					
					
					
					
					
                </div>

{% endblock content%}