{% extends 'base.html'%}
{% load static %}
{% block content%}
{% load humanize %}
<div id="page-content">
                    
					
					<div class="row">
					    <div class="col-lg-10 col-lg-offset-1">
						<div class="panel panel-body ">
					<div class="panel-body">
                                <h1 class="page-header text-overflow">Dashboard Filter</h1>
                        
                    <div>
						<div class="row">
						<div class="col-sm-4 text-center">
							<label><input type="radio" name="Radio" value="all" checked > all time.</label>
						</div>
						<div class="col-sm-4 text-center">
							<label><input type="radio" name="Radio" value="daily" > Today.</label>
						</div>
                        <div class="col-sm-4 text-center">
							<label><input type="radio" name="Radio" value="weekly"> This week.</label>
						</div>
						</div>
					</div>
                    </div>
                    </div>
					        <div class="panel panel-body">
					            <div class="panel-body">
				
					                <br>
									

								<div class="all box">
									<div class='row text-center' >
									<div class="col-md-12"  >
					                    <div class="panel panel-warning panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                                <i class="fas fa-users icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
										<p class="text-2x mar-no text-semibold">{{subscriptions}}</p>
					                            <p class="mar-no">Total subscribers</p>
					                        </div>
					                    </div>
					                </div>
									</div>
					              <div class="row">
					                
					                <div class="col-md-6">
					                    <div class="panel panel-info panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                                <i class="far fa-credit-card icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
					                            <p class="text-2x mar-no text-semibold">{{amount_invoiced|intcomma}} RWF</p>
					                            <p class="mar-no">Total Amount invoiced</p>
					                        </div>
					                    </div>
					                </div>
					                <div class="col-md-6">
					                    <div class="panel panel-mint panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                               <i class="fas fa-coins icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
					                            <p class="text-2x mar-no text-semibold">{{amount_outstanding|intcomma}} RWF</p>
					                            <p class="mar-no">Total Amount Outstanding </p>
					                        </div>
					                    </div>
					                </div>
					
					            </div>

                                <div class="row">
					               
					                <div class="col-md-6">
					                    <div class="panel panel-success panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                                <i class="far fa-credit-card icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
					                            <p class="text-2x mar-no text-semibold">{{amount_paid|intcomma}} RWF</p>
					                            <p class="mar-no">Total Amount Already Paid </p>
					                        </div>
					                    </div>
					                </div>
					                <div class="col-md-6">
					                    <div class="panel panel-danger panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                               <i class="fas fa-coins icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
					                            <p class="text-2x mar-no text-semibold">{{overdue_amount}} RWF</p>
					                            <p class="mar-no">Total Amount Overdue</p>
					                        </div>
					                    </div>
					                </div>
									<div class="col-md-12"  >
					                    <div class="panel panel-purple panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                                <i class="fas fa-users icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
										<p class="text-2x mar-no text-semibold">{{allsoldlitre}}</p>
					                            <p class="mar-no">All Sold litres</p>
					                        </div>
					                    </div>
					                </div>
					
					            </div>
								</div>




								<div class="weekly box">
									<div class='row text-center' >
									<div class="col-md-12"  >
					                    <div class="panel panel-warning panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                                <i class="fas fa-users icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
										<p class="text-2x mar-no text-semibold">{{weekly}}</p>
					                            <p class="mar-no">Total subscribers weekly</p>
					                        </div>
					                    </div>
					                </div>
									</div>
					              <div class="row">
					                
					                <div class="col-md-6">
					                    <div class="panel panel-info panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                                <i class="far fa-credit-card icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
					                            <p class="text-2x mar-no text-semibold">{{amount_invoicedweekly|intcomma}} RWF</p>
					                            <p class="mar-no">Total Amount invoiced</p>
					                        </div>
					                    </div>
					                </div>
					                <div class="col-md-6">
					                    <div class="panel panel-mint panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                               <i class="fas fa-coins icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
					                            <p class="text-2x mar-no text-semibold">{{amount_outstandingweekly|intcomma}} RWF</p>
					                            <p class="mar-no">Total Amount Outstanding </p>
					                        </div>
					                    </div>
					                </div>
					
					            </div>

                                <div class="row">
					               
					                <div class="col-md-6">
					                    <div class="panel panel-success panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                                <i class="far fa-credit-card icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
					                            <p class="text-2x mar-no text-semibold">{{amount_paidweekly|intcomma}} RWF</p>
					                            <p class="mar-no">Total Amount Already Paid </p>
					                        </div>
					                    </div>
					                </div>
					                <div class="col-md-6">
					                    <div class="panel panel-mint panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                               <i class="fas fa-coins icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
					                            <p class="text-2x mar-no text-semibold">{{overdue_amount}} RWF</p>
					                            <p class="mar-no">Total Amount Overdue</p>
					                        </div>
					                    </div>
					                </div>
									<div class="col-md-12"  >
					                    <div class="panel panel-purple panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                                <i class="fas fa-users icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
										<p class="text-2x mar-no text-semibold">{{weeklysoldlitre}}</p>
					                            <p class="mar-no">Weekly Sold litres</p>
					                        </div>
					                    </div>
					                </div>
					
					            </div>
								</div>




								<div class="daily box">
									<div class='row text-center' >
									<div class="col-md-12"  >
					                    <div class="panel panel-warning panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                                <i class="fas fa-users icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
										<p class="text-2x mar-no text-semibold">{{daily}}</p>
					                            <p class="mar-no">Total subscribers Daily</p>
					                        </div>
					                    </div>
					                </div>
									</div>
					              <div class="row">
					                
					                <div class="col-md-6">
					                    <div class="panel panel-info panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                                <i class="far fa-credit-card icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
					                            <p class="text-2x mar-no text-semibold">{{amount_invoiceddaily|intcomma}} RWF</p>
					                            <p class="mar-no">Total Amount invoiced</p>
					                        </div>
					                    </div>
					                </div>
					                <div class="col-md-6">
					                    <div class="panel panel-mint panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                               <i class="fas fa-coins icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
					                            <p class="text-2x mar-no text-semibold">{{amount_outstandingdaily|intcomma}} RWF</p>
					                            <p class="mar-no">Total Amount Outstanding </p>
					                        </div>
					                    </div>
					                </div>
					
					            </div>

                                <div class="row">
					               
					                <div class="col-md-6">
					                    <div class="panel panel-success panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                                <i class="far fa-credit-card icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
					                            <p class="text-2x mar-no text-semibold">{{amount_paiddaily|intcomma}} RWF</p>
					                            <p class="mar-no">Total Amount Already Paid </p>
					                        </div>
					                    </div>
					                </div>
					                <div class="col-md-6">
					                    <div class="panel panel-mint panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                               <i class="fas fa-coins icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
					                            <p class="text-2x mar-no text-semibold">{{overdue_amount}} RWF</p>
					                            <p class="mar-no">Total Amount Overdue</p>
					                        </div>
					                    </div>
					                </div>

									<div class="col-md-12"  >
					                    <div class="panel panel-purple panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                                <i class="fas fa-users icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
										<p class="text-2x mar-no text-semibold">{{dailysoldlitre}}</p>
					                            <p class="mar-no">Daily Sold litres</p>
					                        </div>
					                    </div>
					                </div>
					
					            </div>
								</div>


								{% comment %} <canvas id="my_chart"></canvas> {% endcomment %}

					            </div>
					        </div>
					    </div>
					</div>
					
					
					
                </div>

				<script>
					var my_chart=document.getElementById('my_chart').getContext('2d')
					var barChart=new Chart(my_chart,{
						type:'bar',
						data:{
							labels:[
							'January',
							'February',
							'March',
							'April',
							'May',
							'June',
							'July',
							'August',
							'September',
							'Octobre',
							'November',
							'December'
							],
							datasets:[{
								label:'Number of Subscribers By Overdue Months',
								data:[3,4,22,22,17,15,20,14,11,9,6,3],
								backgroundColor:['#FF6633','#809900' , '#FF33FF', '#FFFF99', '#00B3E6', 
												'#E6B333', '#3366E6', '#999966', '#99FF99','#B34D4D' ,
												'#80B300', '#FFB399']
							}]
						},
						options:{},
					})
				</script>

				<script>
						
						$(document).ready(function(){
							$('.daily').hide();
							$('.weekly').hide();
							$('input[type="radio"]').click(function(){
								var inputValue = $(this).attr("value");
								var targetBox = $("." + inputValue);
								$(".box").not(targetBox).hide();
								$(targetBox).show();
							});
						});
				</script>

{% endblock content%}