{% extends 'base.html'%}
{% load static %}
{% block content%}

<div id="page-content">
                    
					
					<hr class="new-section-sm bord-no">
					<div class="row">
					    <div class="col-lg-6 col-lg-offset-3">
					        <div class="panel panel-trans text-center">
					        <div class="panel-heading">
					            <h3 class="panel-title">Your content here...</h3>
					        </div>
					        <div class="panel-body">
					            <p>Start putting content on grids or panels, you can also use different combinations of grids.
					            <br>Please check out the dashboard and other pages.</p>
					        </div>
					        </div>
					    </div>
					</div>
					
					<hr class="new-section-md bord-no">
					
					
					
					
                </div>

{% endblock content%}