{% extends 'base.html'%}
{% load static %}
{% block content%}
{% load humanize %}
<div id="page-content">
                    
					
					<div class="row">
					    <div class="col-lg-10 col-lg-offset-1">
						<div class="panel panel-body ">
					<div class="panel-body">
                                <h1 class="page-header text-overflow">Dashboard Filter</h1>
                        
                    <div>
						<form action="{% url 'dashboard' %}" method='POST'>
							{% csrf_token %}
						<div class="row">
						<div class="col-sm-5 text-center">
							<select class="form-control" name="time">
								<option value="all">All Time</option> 
								<option value="This week">This Week</option> 
								<option value="Today">Today</option> 
							</select>
						</div>
						<div class="col-sm-5 text-center">
							<select class="form-control" name="service">
								<option value="all">All Services</option> 
								{% for category in categories %}
								<option value="{{category.Title}}">{{category.Title}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-sm-2">
							<button class="btn btn-success my-sm-0" type="submit"><i class="fa fa-filter" aria-hidden="true"></i> Filter</button>
						</div>
                        
						</div>
					</form>
					</div>
                    </div>
                    </div>
					        <div class="panel panel-body">
					            <div class="panel-body">
				
					                <br>
									

								<div class="all box">
									<h1 class="page-header text-overflow">{{filter_title}}</h1>
									<div class='row text-center' style="margin-top:30px">
									<div class="col-md-12"  >
					                    <div class="panel panel-warning panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                                <i class="fa fa-users icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
										<p class="text-2x mar-no text-semibold">{{subscriptions}}</p>
					                            <p class="mar-no">Total subscribers</p>
					                        </div>
					                    </div>
					                </div>
									</div>
					              <div class="row">
					                
					                <div class="col-md-6">
					                    <div class="panel panel-info panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                                <i class="fa fa-money icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
					                            <p class="text-2x mar-no text-semibold">{{amount_invoiced|intcomma}} RWF</p>
					                            <p class="mar-no">Total Amount invoiced</p>
					                        </div>
					                    </div>
					                </div>
					                <div class="col-md-6">
					                    <div class="panel panel-mint panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                               <i class="fa fa-money icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
					                            <p class="text-2x mar-no text-semibold">{{amount_outstanding|intcomma}} RWF</p>
					                            <p class="mar-no">Total Amount Outstanding </p>
					                        </div>
					                    </div>
					                </div>
					
					            </div>

                                <div class="row">
					               
					                <div class="col-md-6">
					                    <div class="panel panel-success panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                                <i class="fa fa-money icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
					                            <p class="text-2x mar-no text-semibold">{{amount_paid|intcomma}} RWF</p>
					                            <p class="mar-no">Total Amount Already Paid </p>
					                        </div>
					                    </div>
					                </div>
					                <div class="col-md-6">
					                    <div class="panel panel-danger panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                               <i class="fa fa-money icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
					                            <p class="text-2x mar-no text-semibold">{{overdue_amount|intcomma}} RWF</p>
					                            <p class="mar-no">Total Amount Overdue</p>
					                        </div>
					                    </div>
					                </div>

									{% if show %}
									<div class="col-md-12"  >
					                    <div class="panel panel-purple panel-colorful media middle pad-all">
					                        <div class="media-left">
					                            <div class="pad-hor">
					                                <i class="fa fa-tint icon-3x"></i>
					                            </div>
					                        </div>
					                        <div class="media-body">
										<p class="text-2x mar-no text-semibold">{{allsoldlitre|intcomma}} Rwf</p>
					                            <p class="mar-no">All Sold Water</p>
					                        </div>
					                    </div>
					                </div>
									{% else %}
									 <span></span>
									{% endif %}
									
					
					            </div>
								</div>




								




								


								{% comment %} <canvas id="my_chart"></canvas> {% endcomment %}

					            </div>
					        </div>
					    </div>
					</div>
					
					
					
                </div>

				<script>
					var my_chart=document.getElementById('my_chart').getContext('2d')
					var barChart=new Chart(my_chart,{
						type:'bar',
						data:{
							labels:[
							'January',
							'February',
							'March',
							'April',
							'May',
							'June',
							'July',
							'August',
							'September',
							'Octobre',
							'November',
							'December'
							],
							datasets:[{
								label:'Number of Subscribers By Overdue Months',
								data:[3,4,22,22,17,15,20,14,11,9,6,3],
								backgroundColor:['#FF6633','#809900' , '#FF33FF', '#FFFF99', '#00B3E6', 
												'#E6B333', '#3366E6', '#999966', '#99FF99','#B34D4D' ,
												'#80B300', '#FFB399']
							}]
						},
						options:{},
					})
				</script>

				

{% endblock content%}