{% extends 'base.html'%}
{% load static %}
{% block content%}
{% load humanize %}

 <div id="page-content">
                    
					<div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Mobile Background</h3>
                        </div>
                    
                        <!--Data Table-->
                        <!--===================================================-->
                        <div class="panel-body">
                            <div class="pad-btm form-inline">
                                <div class="row">
                                    
                                    <div class="col-sm-12 table-toolbar-right">
                                    <a href="{% url 'backgroundchange' %}" id="demo-btn-addrow" class="btn btn-purple"><i class="demo-pli-add"></i> Add new</a>

                                        <div class="btn-group">
                                            
                                   
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped" style="border: 1px">
                                    <thead>
                                        <tr>
                                            <th class="text-left">ID</th>
                                            <th>Images</th>
                                            <th>Action</th>
                                           
                                            
                                            
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for imgview in page_obj %}
                                    <tr>
                                            <td><a class="btn-link" href="#">{{imgview.id}}</a></td>
                                            <td> <img src="{{imgview.Image.url}}" alt="" style="height:80px;widht:80px"></td>
                                            <td>
                                            
                                                <a href="{% url 'updateimagebackground' imgview.id %}">
                                                <button class="btn btn-primary">Update</button>
                                                </a>
                                                
                                            </td>
                                        </tr>

                                    {% endfor %}
                                        
                                    
                                        </tbody>
                                </table>
                            </div>
                            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-primary mb-4" href="?page=1">&laquo; first</a>
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.next_page_number }}">next</a>
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
                        </div>
                        <!--===================================================-->
                        <!--End Data Table-->
                    
                    </div>
					
					
					
					
					
					
					
                </div>

{% endblock content%}