{% extends 'base.html'%}
{% load static %}
{% block content%}
{% load humanize %}
{% load mathfilters %}

 <div id="page-content">
                    
					<div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Subscribers</h3>
                        </div>
                    
                        <!--Data Table-->
                        <!--===================================================-->
                        <div class="panel-body">
                            <div class="pad-btm form-inline">
                                <div class="row">
                                    
                                    <div class="col-sm-12 table-toolbar-right">
                                    <a href="{% url 'export_users_csv' %}"> <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fa fa-download fa-lg" aria-hidden="true"></i>&nbsp; &nbsp;Export</button></a>

                                        <div class="btn-group">
                                            <div class="form-group">

                                        <form class="form-inline my-2 my-lg-0">
                                        <input id="demo-input-search2" type="text" name="search" placeholder="Search" class="form-control" autocomplete="off">
                                        <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </form>
                                        </div>
                                   
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped" style="border: 1px">
                                    <thead>
                                        <tr>
                                            <th>Customer</th>
                                            <th>StartDate</th>
                                            <th>Description</th>
                                            <th>Invoice Total</th>
                                            <th>Amount under Installments</th>
                                            <th>Monthly payment</th>
                                            <th>Outstanding Amount</th>
                                            <th>Balance Paid</th>
                                            <th>Overdue Balance</th>
                                            <th>Month Overdue</th>
                                            <th>Due date</th>
                                            <th>Down Payment</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                    {% for sub in subscriptions %}
                                    

                                            {% if sub.Category.Title|upper == "AMAZI" %}
                                    <tr>
                                    {% with my_payment=sub.System.total|sub:sub.Downpayment %}
                                    {% with payment=my_payment|div:12 %}
                                    {% widthratio sub.get_overdue_months 1 payment as overdueBalance %}
                                            
                                                    <td>{{sub.CustomerID.FirstName}} {{sub.CustomerID.LastName}}</td>
                                                    <td>{{sub.From|slice:"0:1"}}</td>
                                                    <td>{{sub.Category.Title}}</td>

                                                    <td>{{sub.System.total|intcomma}} Rwf</td>
                                                    <td>{{sub.System.total|sub:sub.Downpayment|intcomma}} Rwf</td>

                                                    {% if sub.System.total|divisibleby:12%}
                                                    <td> {{ payment|intcomma }} Rwf</td>                                           
                                                    {% else %}
                                                    <td> {{ payment|add:1|intcomma }} Rwf</td>                                           
                                                    {% endif %}

                                                    <td>{{sub.TotalBalance|intcomma }} Rwf</td>
                                                    <td>{{my_payment| sub:sub.TotalBalance }} Rwf</td>
                                                    {% if sub.System.total|divisibleby:12%}
                                                    <td>{{overdueBalance}} Rwf</td>                                           
                                                    {% else %}


                                                    <td> {{ payment|add:1|mul:sub.get_overdue_months|intcomma }} Rwf</td>                   
                                                     <td>{{sub.get_overdue_months}}</td>
                                            <td>{{sub.To}}</td>
                                            <td>{{sub.Downpayment|intcomma}} Rwf</td>                        
                                                    {% endif %}
                                                                                {% endwith %}
                                                                                {% endwith %}
                                            </tr>

                                            {% else %}
                                            {% with my_payment1=sub.Total|sub:sub.Downpayment %}
                                            {% with payment1=my_payment1|div:12 %}
                                             {% widthratio sub.get_overdue_months 1 payment1 as overdueBalance1 %}

                                             <tr>
                                            
                                                    <td>{{sub.CustomerID.FirstName}} {{sub.CustomerID.LastName}}</td>
                                                    <td>{{sub.From}}</td>
                                                    <td>{{sub.Category.Title}}</td>

                                                    <td>{{sub.Total|intcomma}} Rwf</td>
                                                    <td>{{sub.Total|sub:sub.Downpayment|intcomma}} Rwf</td>

                                                    {% if sub.Total|divisibleby:12%}
                                                    <td> {{ payment1|intcomma }} Rwf</td>                                           
                                                    {% else %}
                                                    <td> {{ payment1|add:1|intcomma }} Rwf</td>                                           
                                                    {% endif %}

                                                    <td>{{sub.TotalBalance|intcomma }} Rwf</td>
                                                    <td>{{my_payment1 | sub:sub.TotalBalance }} Rwf</td>
                                                    {% if sub.Total|divisibleby:12%}
                                                    <td>{{overdueBalance1}} Rwf</td>                                           
                                                    {% else %}


                                                    <td> {{ payment1|add:1|mul:sub.get_overdue_months|intcomma }} Rwf</td>                                           
                                                   
                                                    {% endif %}
                                                     <td>{{sub.get_overdue_months}}</td>
                                            <td>{{sub.To}}</td>
                                            <td>{{sub.Downpayment|intcomma}} Rwf</td>                        

                                                </tr> 

                                    {% endwith %}
                                    {% endwith %}

                                            {% endif %}


                                            
                                    </tr>
                                    {% endfor %}
                                    
                                

                                    
                                        
                                    
                                        </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <!--===================================================-->
                        <!--End Data Table-->
                    
                    </div>
					
					
					
					
					
					
					
                </div>

{% endblock content%}