{% extends 'base.html'%}
{% load static %}
{% block content%}
{% load humanize %}
{% load mathfilters %}

 <div id="page-content">
                    
					<div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Subscribers</h3>
                        </div>
                    
                        <!--Data Table-->
                        <!--===================================================-->
                        <div class="panel-body">
                            <div class="pad-btm form-inline">
                                <div class="row">
                                    
                                    <div class="col-sm-12 table-toolbar-right">
                                    <a href="{% url 'export_users_csv' %}"> <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fa fa-download fa-lg" aria-hidden="true"></i>&nbsp; &nbsp;Export</button></a>

                                        <div class="btn-group">
                                            <div class="form-group">

                                        <form class="form-inline my-2 my-lg-0">
                                        <input id="demo-input-search2" type="text" name="search" placeholder="Search" class="form-control" autocomplete="off">
                                        <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </form>
                                        </div>
                                   
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped" style="border: 1px">
                                    <thead>
                                        <tr>
                                            <th>Customer</th>
                                            <th>StartDate</th>
                                            <th>Description</th>
                                            <th>Invoice Total</th>
                                            <th>Monthly payment</th>
                                            <th>Outstanding Amount</th>
                                            <th>Balance Paid</th>
                                            <th>Overdue Balance</th>
                                            <th>Month Overdue</th>
                                            <th>Due date</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                    {% for sub in subscriptions %}
                                    {% with payment=sub.System.total|div:12 %}
                                    {% widthratio sub.get_overdue_months 1 payment as overdueBalance %}
                                    <tr>
                                            <td>{{sub.CustomerID.FirstName}} {{sub.CustomerID.LastName}}</td>
                                            <td>{{sub.From}}</td>
                                            <td>{{sub.Category.Title}}</td>
                                            <td>{{sub.System.total|intcomma}} Rwf</td>
                                            {% if sub.System.total|divisibleby:12%}
                                            <td> {{ payment|intcomma }} Rwf</td>                                           
                                            {% else %}
                                            <td> {{ payment|add:1|intcomma }} Rwf</td>                                           
                                            {% endif %}
                                            <td>{{sub.TotalBalance|intcomma }} Rwf</td>
                                            <td>{{sub.System.total| sub:sub.TotalBalance }}</td>
                                            {% if sub.System.total|divisibleby:12%}
                                            <td>{{overdueBalance}} Rwf</td>                                           
                                            {% else %}
                                            <td> {{ payment|add:1|mul:sub.get_overdue_months|intcomma }} Rwf</td>                                           
                                            {% endif %}
                                            <td>{{sub.get_overdue_months}}</td>
                                            <td>{{sub.To}}</td>
                                    </tr>
                                    {% endwith %}
                                    {% endfor %}
                                    
                                

                                    
                                        
                                    
                                        </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <!--===================================================-->
                        <!--End Data Table-->
                    
                    </div>
					
					
					
					
					
					
					
                </div>

{% endblock content%}