{% extends 'base.html'%}
{% load static %}
{% block content%}
{% load humanize %}
{% load mathfilters %}
<style>
    /* width */
    ::-webkit-scrollbar {
      width: 5px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
    </style>
 <div id="page-content">
                    
					<div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Subscribers</h3>
                        </div>
                    
                        <!--Data Table-->
                        <!--===================================================-->
                        <div class="panel-body">
                            <div class="pad-btm form-inline">
                                <div class="row">
                                    
                                    <div class="col-sm-12 table-toolbar-right">
                                        

                                    <div class="btn-group">
                                        <div class="form-group">

                                            <form class="form-inline my-2 my-lg-0" method="POST" action= "{% url 'instalment' %}">
                                                {% csrf_token %}
                                            <b>From:</b>&nbsp;&nbsp; <input  type="date" name="start"  class="form-control" autocomplete="off" style="height:35px" required>&nbsp;&nbsp;
                                            <b>TO:</b>&nbsp;&nbsp; <input  type="date" name="end"  class="form-control" autocomplete="off" style="height:35px" required>
                                            <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-filter" aria-hidden="true"></i></button>&nbsp;&nbsp;
                                            </form>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'instalment'%}">
                                            {% csrf_token %}
                                            <select  name="service" class="js-example-basic-single2 form-control">
                                            <option value="Amazi">Search by Service</option>
                                            <option value="All">All</option>
                                            {% for category in categories%}

                                                    <option value="{{category.Title}}">{{category.Title}}</option> 
                                                {% endfor %}
                                            </select> 
                                            <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>&nbsp;&nbsp;&nbsp;
                                    </form>
                                    
                                    </div>


                                    <div class="btn-group">
                                        <div class="form-group">

                                            <form class="form-inline my-2 my-lg-0">
                                            <input id="demo-input-search2" type="text" name="search" placeholder="Search by First name" class="form-control" autocomplete="off">
                                            <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>&nbsp;&nbsp;
                                            </form>
                                        </div>
                                    </div>


                                    <a href="{% url 'export_users_csv' %}"> <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fa fa-download fa-lg" aria-hidden="true"></i>&nbsp; &nbsp;Export</button></a>&nbsp;&nbsp;&nbsp;&nbsp;


                                </div>
                                </div>
                            </div>
                            <hr>
                            <div class="table-responsive">
                                <table class="table table-striped" style="border: 1px">
                                    <thead>
                                        <tr>
                                            <th>Customer</th>
                                            <th>StartDate</th>
                                            <th>Description</th>
                                            <th>Total amount invoice</th>
                                            <th>Down Payment</th>
                                            <th>Amount under Installments</th>
                                            <th>Instalment Period</th>
                                            <th>Monthly payment</th>
                                            <th>Outstanding Amount</th>
                                            <th>Balance Paid</th>
                                            <th>Overdue Balance</th>
                                            <th>Due date</th>
                                            <th>Month Overdue</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                    {% for sub in page_obj %}
                                    

                                            {% if sub.Category.Title|upper == "AMAZI" %}
                                    <tr>
                                    {% with my_payment=sub.Total|sub:sub.Downpayment %}
                                    {% with payment=my_payment|div:sub.InstallmentPeriod %}
                                    {% widthratio sub.get_overdue_months 1 payment as overdueBalance %}
                                            
                                                    <td>{{sub.CustomerID.FirstName}} {{sub.CustomerID.LastName}}</td>
                                                    <td>{{sub.From|date:'d/m/Y'}}</td>
                                                    <td>{{sub.Category.Title}}</td>

                                                    <td>{{sub.Total|intcomma}} Rwf</td>
                                                    <td>{{sub.Downpayment|intcomma}} Rwf</td>
                                                    <td>{{sub.Total|sub:sub.Downpayment|intcomma}} Rwf</td>
                                                    <td>{{sub.InstallmentPeriod}}</td>

                                                    {% if sub.System.total|divisibleby:12%}
                                                    <td> {{ payment|intcomma }} Rwf</td>                                           
                                                    {% else %}
                                                    <td> {{ payment|add:1|intcomma }} Rwf</td>                                           
                                                    {% endif %}

                                                    <td>{{sub.TotalBalance|intcomma }} Rwf</td>
                                                    <td>{{my_payment| sub:sub.TotalBalance|intcomma }} Rwf</td>
                                                    {% if sub.System.total|divisibleby:sub.InstallmentPeriod%}
                                                    <td>{{overdueBalance|intcomma}} Rwf</td>                                           
                                                    {% else %}


                                                    <td> {{ payment|add:1|mul:sub.get_overdue_months|intcomma }} Rwf</td>                   
                                                                           
                                                    {% endif %}
                                                    <td>{{sub.To|date:'d/m/Y'}}</td>
                                                    <td>{{sub.get_overdue_months}}</td>
                                                                                {% endwith %}
                                                                                {% endwith %}
                                            </tr>

                                            {% else %}
                                            {% with my_payment1=sub.Total|sub:sub.Downpayment %}
                                            {% with payment1=my_payment1|div:sub.InstallmentPeriod %}
                                             {% widthratio sub.get_overdue_months 1 payment1 as overdueBalance1 %}

                                             <tr>
                                            
                                                    <td>{{sub.CustomerID.FirstName}} {{sub.CustomerID.LastName}}</td>
                                                    <td>{{sub.From|date:'d/m/Y'}}</td>
                                                    <td>{{sub.Category.Title}}</td>

                                                    <td>{{sub.Total|intcomma}} Rwf</td>
                                                    <td>{{sub.Downpayment|intcomma}} Rwf</td>
                                                    <td>{{sub.Total|sub:sub.Downpayment|intcomma}} Rwf</td>
                                                    <td>{{sub.InstallmentPeriod}}</td>

                                                    {% if sub.Total|divisibleby:12%}
                                                    <td> {{ payment1|intcomma }} Rwf</td>                                           
                                                    {% else %}
                                                    <td> {{ payment1|add:1|intcomma }} Rwf</td>                                           
                                                    {% endif %}

                                                    <td>{{sub.TotalBalance|intcomma }} Rwf</td>
                                                    <td>{{my_payment1| sub:sub.TotalBalance|intcomma }} Rwf</td>
                                                    {% if sub.Total|divisibleby:sub.InstallmentPeriod %}
                                                    <td>{{overdueBalance1|intcomma}} Rwf</td>                                           
                                                    {% else %}


                                                    <td> {{ payment1|add:1|mul:sub.get_overdue_months|intcomma }} Rwf</td>                                           
                                                   
                                                    {% endif %}
                                                    <td>{{sub.To|date:'d/m/Y'}}</td>
                                                     <td>
                                                         {% ifequal sub.TotalBalance 0  %}
                                                         0
                                                         {% else %}
                                                         {{sub.get_overdue_months}}
                                                         {% endifequal %}
                                                    </td>
                                                                    

                                                </tr> 

                                    {% endwith %}
                                    {% endwith %}

                                            {% endif %}


                                            
                                    </tr>
                                    {% endfor %}
                                    
                                

                                    
                                        
                                    
                                        </tbody>
                                </table>
                            </div>

                            <div class="pagination">
                                <span class="step-links">
                                    {% if page_obj.has_previous %}
                                        <a class="btn btn-primary mb-4" href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&laquo; first</a>
                                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">previous</a>
                                    {% endif %}
                
                                    <span class="current">
                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                    </span>
                
                                    {% if page_obj.has_next %}
                                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">next</a>
                                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">last &raquo;</a>
                                    {% endif %}
                                </span>
                            </div>
                            
                        </div>
                        <!--===================================================-->
                        <!--End Data Table-->
                    
                    </div>
					
					
					
					
					
					
					
                </div>

{% endblock content%}
