{% extends 'base.html'%}
{% load static %}
{% block content%}
{% load humanize %}

 <div id="page-content">
                    
					<div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Approve new Subscribers</h3>
                        </div>
                    
                        <!--Data Table-->
                        <!--===================================================-->
                        <div class="panel-body">
                            <div class="pad-btm form-inline">
                                <div class="row">
                                    
                                    <div class="col-sm-12 table-toolbar-right">
                                        

                                        <div class="btn-group">
                                            <div class="form-group">
                                        <form class="form-inline my-2 my-lg-0">
                                        <input id="demo-input-search2" type="text" name="search" placeholder="Search" class="form-control" autocomplete="off">
                                        <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </form>
                                        </div>
                                   
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped" style="border: 1px">
                                    <thead>
                                        <tr>
                                            <th class="text-left">ID</th>
                                            <th>Customer</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th>Subscribed in</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                    {% for sub in subscriptions %}
                                    <tr>
                                            <td><a class="btn-link" href="#">{{sub.id}}</a></td>
                                            <td>{{sub.CustomerID.FirstName}} {{sub.CustomerID.LastName}}</td>
                                            <td>{{sub.CustomerID.user.email}}</td>
                                            <td>{{sub.CustomerID.user.phone}}</td>
                                            <td>{{sub.Category.Title}}</td>

                                            {% if sub.Category.Title == "Amazi" %}
                                                    <td> 
                                                    <a class="btn-link" href={% url 'approve_sub' sub.id %}><button class="btn btn-primary">Approve</button></a>
                                                    </td>

                                            {% else %}
                                                    <td> 
                                                    <a class="btn-link" href={% url 'approvesubs' sub.id %}><button class="btn btn-primary">Approve</button></a>
                                                    </td>
                                            {% endif %}
                                    </tr>
                                    {% endfor %}

                                    
                                        
                                    
                                        </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <!--===================================================-->
                        <!--End Data Table-->
                    
                    </div>
					
					
					
					
					
					
					
                </div>

{% endblock content%}