{% extends 'base.html'%}
{% load static %}
{% block content%}

{% if error %}
<script>
    alert('{{error}}')
</script>
{% endif %}

 <div id="page-content">
                    
					<div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Add new users</h3>
                                </div>
                    
                                <!--Block Styled Form -->
                                <!--===================================================-->
                                <form enctype="multipart/form-data" action="{% url 'operator'%}" method='POST' >
                                {% csrf_token %}
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">Email</label>
                                                    <input type="email" class="form-control" name="email"/> 
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">Phone number</label>
                                                    <input type="text" class="form-control" name="phonenumber" placeholder="especially for mobile user"/> 
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="form-group text-left">
                                            <input name='permission' value='client' type="radio" required />
                                            <label for="demo-remember-me-2">Client</label>
                                        </div>

                                        <div class="form-group text-left">
                                            <input name='permission' value='staff' type="radio" required />
                                            <label for="demo-remember-me-2">Staff</label>
                                        </div>
                                        
                                    </div>
                                    <div class="panel-footer text-right">
                                        <button class="btn btn-block btn-success" type="submit">Submit</button>
                                    </div>
                                </form>
                                <!--===================================================-->
                                <!--End Block Styled Form -->
                    
                            </div>
					
					
					
					
					
					
					
                </div>

{% endblock content%}