{% extends 'base.html'%}
{% load static %}
{% block content%}

 <div id="page-content">
                    
					<div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Orders to be paid later</h3>
                        </div>
                    
                        <!--Data Table-->
                        <!--===================================================-->
                        <div class="panel-body">
                            <div class="pad-btm form-inline">
                                <div class="row">
                                    
                                    <div class="col-sm-12 table-toolbar-right">

                                        <div class="btn-group">
                                            <div class="form-group">
                                        <form class="form-inline my-2 my-lg-0" action="{% url 'pay_later_orders'%}">
                                        <input id="demo-input-search2" type="text" name="search" placeholder="Search by name" class="form-control" autocomplete="off">
                                        <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></buttn>
                                        </form>
                                        </div>
                                   
                                            
                                        </div>

                                    </div>
                                </div>
                                
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped" style="border: 1px">
                                    <thead>
                                        <tr>
                                            <th>Customer</th>
                                            <th>Phone</th>
                                            <th>Address</th>
                                            <th>Date Ordered</th>
                                            <th>Total</th>
                                            <th>Actions</th>
                                            
                                            
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                     {% for order in page_obj %}
                                    <tr>
                                            <td>{{order.shippingaddress.names}} </td>
                                            <td>{{order.shippingaddress.phone}} </td>
                                            <td>{{order.shippingaddress.address}} - {{order.shippingaddress.city}}</td>
                                            <td>{{order.date_ordered}}</td>
                                            <td>{{order.get_cart_total}} Rwf</td>
                                            
                                            <td>
                                                <a href="{% url 'order_details' order.id%}">
                                                <div class="btn btn-success">Details</div>
                                                </a>

                                                {% if  order.paid %}
                                                <p>
                                                </p>
                                                {% else %}
                                                <a onclick="return confirm('Are you sure you this order is paid?')" href="{% url 'paidorder' order.id %}">
                                                <button class="btn btn-warning">Pay this order</button>
                                                </a>
                                            {% endif %}
                                            </td>
                                            
                                        </tr>

                                    {% endfor %}  
                                        
                                    
                                        </tbody>
                                </table>
                            </div>
                            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-primary mb-4" href="?page=1">&laquo; first</a>
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.next_page_number }}">next</a>
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
                        </div>
                        <!--===================================================-->
                        <!--End Data Table-->
                    
                    </div>
					
					
					
					
					
					
					
                </div>

{% endblock content%}