{% extends 'base.html'%}
{% load static %}
{% block content%}

 <div id="page-content">
                    
					<div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Quatation installtion</h3>
                        </div>
                    
                        <!--Data Table-->
                        <!--===================================================-->
                        <div class="panel-body">
                            <div class="pad-btm form-inline">
                                <div class="row">
                                    
                                    <div class="col-sm-12 table-toolbar-right">

                                        <div class="btn-group">
                                            <div class="form-group">
                                        </div>
                                   
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped" style="border: 1px">
                                    <thead>
                                        <tr>
                                            <th class="text-left">ID</th>
                                            <th>Tool</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            
                                            
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% comment %} {% for tool in page_obj %} {% endcomment %}
                                    <tr>
                                            <td><a class="btn-link" href="#">1</a></td>
                                            <td>Robinet</td>
                                            <td>5</td>
                                            <td>15000</td>
                                            <td>total</td>
                                            <td>150,0000</td>

                                           
                                            
                                        </tr>

                                    {% comment %} {% endfor %} {% endcomment %}
                                        
                                    
                                        </tbody>
                                </table>
                            </div>
                            {% comment %} <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-primary mb-4" href="?page=1">&laquo; first</a>
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.next_page_number }}">next</a>
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div> {% endcomment %}
                        </div>
                        <!--===================================================-->
                        <!--End Data Table-->
                    
                    </div>
					
					
					
					
					
					
					
                </div>

{% endblock content%}