{% extends 'base.html'%}
{% load static %}
{% block content%}

 <div id="page-content">
                    
					<div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Water Buy History</h3>
                        </div>
                    
                        <!--Data Table-->
                        <!--===================================================-->
                        <div class="panel-body">
                            <div class="pad-btm form-inline">
                                <div class="row">
                                    
                                    <div class="col-sm-12 table-toolbar-right">
                                        
                                        <div class="btn-group">
                                            <div class="form-group">
    
                                                <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'Receipts' %}" >
                                                    {% csrf_token %}
                                                <b>From:</b>&nbsp;&nbsp; <input  type="date" name="start"  class="form-control" autocomplete="off" style="height:35px" required>&nbsp;&nbsp;
                                                <b>TO:</b>&nbsp;&nbsp; <input  type="date" name="end"  class="form-control" autocomplete="off" style="height:35px" required>
                                                <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-filter" aria-hidden="true"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                </form>
                                            </div>
                                        </div>
                                        
                                        
                                        
                                        <div class="btn-group">
                                            
                                        <div class="form-group">
                                        <form class="form-inline my-2 my-lg-0" action="{% url 'Receipts'%}">
                                        <input id="demo-input-search2" type="text" name="search" placeholder="Search by Names" class="form-control" autocomplete="off">
                                        <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </form>
                                        </div>
                                   
                                            
                                        </div>
                                        <a href="{% url 'export_receipts' %}"> <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fa fa-download fa-lg" aria-hidden="true"></i>&nbsp; &nbsp;Export</button></a>

                                    </div>

                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped" style="border: 1px">
                                    <thead>
                                        <tr>
                                            <th>Customer</th>
                                            <th>Phone</th>
                                            <th>Meternumber</th>
                                            <th>Amount</th>
                                            <th>Littre</th>
                                            <th>Token</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                            
                                            
                                        </tr>
                                    </thead> 
                                    <tbody>
                                    {% for history in page_obj %}
                                    <tr>
                                            <td>{{history.Customer.FirstName}} {{history.Customer.LastName}}</td>
                                            <td>{{history.Customer.user.phone}}</td>
                                            <td>{{history.Meternumber}}</td>
                                            <td>{{history.Amount}} Rwf</td>
                                            <td>{{history.Amount}}Ltr</td>
                                            <td>{{history.Token}}</td>
                                            <td>{{history.created_at|date:'d/m/Y'}}</td>
                                            <td>
                                                {% if history.Token is None %}
                                                <a onclick="return confirm('Are you sure you want to troubleshoot token?')" class="btn-link" href="{% url 'troubleshoot' history.id%}"><button class="btn btn-purple">Troubleshoot</button></a>

                                                {% else %}
                                                <a onclick="return confirm('Are you sure you want to resend token?')" class="btn-link" href="{% url 'sendToken' history.id%}"><button class="btn btn-warning">Send Token</button></a>
                                                {% endif %}
                                            </td>

                                           
                                            
                                        </tr>

                                    {% endfor %}
                                        
                                    
                                        </tbody>
                                </table>
                            </div>
                            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-primary mb-4" href="?page=1">&laquo; first</a>
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.next_page_number }}">next</a>
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
                        </div>
                        <!--===================================================-->
                        <!--End Data Table-->
                    
                    </div>
					
					
					
					
					
					
					
                </div>

{% endblock content%}