{% extends 'base.html'%}
{% load static %}
{% block content%}

 <div id="page-content">
                    
					<div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Subscribers</h3>
                        </div>
                    
                        <!--Data Table-->
                        <!--===================================================-->
                        <div class="panel-body">
                            <div class="pad-btm form-inline">
                                <div class="row">
                                    
                                    <div class="col-sm-12 table-toolbar-right">
                                        <a href="" id="demo-btn-addrow" class="btn btn-purple"><i class="demo-pli-add"></i> Add new</a>

                                        <div class="btn-group">
                                            <div class="form-group">
                                        <form class="form-inline my-2 my-lg-0">
                                        <input id="demo-input-search2" type="text" name="search" placeholder="Search" class="form-control" autocomplete="off">
                                        <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </form>
                                        </div>
                                   
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped" style="border: 1px">
                                    <thead>
                                        <tr>
                                            <th class="text-left">ID</th>
                                            <th>Customer</th>
                                            <th>Services</th>
                                            <th>Tools</th>
                                            <th>Total amount</th>
                                            <th>Sub date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                    <tr>
                                            <td><a class="btn-link" href="#">1</a></td>
                                            <td>Aimable Rukundo</td>
                                            <td>INuma</td>
                                            <td>Robinet,Pipes</td>
                                            <td>150,000 RWF</td>
                                            <td>22-12-2020</td>
                                    </tr>

                                    
                                        
                                    
                                        </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <!--===================================================-->
                        <!--End Data Table-->
                    
                    </div>
					
					
					
					
					
					
					
                </div>

{% endblock content%}