{% extends 'base.html'%}
{% load static %}
{% load humanize %}
{% block content%}

 <div id="page-content">
                    
					<div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Tools</h3>
                        </div>
                    
                        <!--Data Table-->
                        <!--===================================================-->
                        <div class="panel-body">
                            <div class="pad-btm form-inline">
                                <div class="row">
                                    
                                    <div class="col-sm-12 table-toolbar-right">
                                        <a href="{% url 'add_tool' %}" id="demo-btn-addrow" class="btn btn-purple"><i class="demo-pli-add"></i> Add new</a>

                                        <div class="btn-group">
                                            <div class="form-group">
                                        <form class="form-inline my-2 my-lg-0" action="{% url 'tools'%}">
                                        <input id="demo-input-search2" type="text" name="search" placeholder="Search by Fisrtname" class="form-control" autocomplete="off">
                                        <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </form>
                                        </div>
                                   
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped" style="border: 1px">
                                    <thead>
                                        <tr>
                                            <th class="text-left">ID</th>
                                            <th>Title</th>
                                            <th>Amount</th>
                                            <th>Description</th>
                                            <th>created at</th>
                                            <th>Actions</th>
                                            
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for tool in page_obj %}
                                    <tr>
                                            <td><a class="btn-link" href="#">{{tool.id}}</a></td>
                                            <td>{{tool.Title}}</td>
                                            <td>{{tool.Amount|intcomma}}</td>
                                            <td>{{tool.Description}}</td>
                                            <td>{{tool.created_at}}</td>
                                            <td>
                                                <a href="{% url 'update_tool' tool.id %}">
                                                    <button class="btn btn-primary" title="Update"><i class='fa fa-pencil'></i></button>
                                                </a>
                                                 <a onclick="return confirm('Are you sure you want to delete this?')" href="{% url 'delete_tools' tool.id %}">
                                                    <button class="btn btn-danger" title="Delete"><i class='fa fa-trash'></i></button>
                                                </a> 
                                            </td>

                                           
                                            
                                        </tr>

                                    {% endfor %}
                                        
                                    
                                        </tbody>
                                </table>
                            </div>
                            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-primary mb-4" href="?page=1">&laquo; first</a>
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.next_page_number }}">next</a>
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
                        </div>
                        <!--===================================================-->
                        <!--End Data Table-->
                    
                    </div>
					
					
					
					
					
					
					
                </div>

{% endblock content%}