{% extends 'base.html'%}
{% load static %}
{% block content%}

 <div id="page-content ">
                    
					<div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{customer.FirstName}} {{customer.LastName}} Installment Transactions</h3>
                        </div>
                    
                        <!--Data Table-->
                        <!--===================================================-->
                        <div class="panel-body">
                            <div class="pad-btm form-inline">
                                <div class="row">
                                    
                                    <div class="col-sm-12 table-toolbar-right">
                                        <button value="click" onclick="printDiv()" id="demo-btn-addrow" class="btn btn-mint"><i class="fa fa-print fa-lg"></i>&nbsp; &nbsp;Print</button>
                                        <a href="{% url 'export_transaction_csv' customer.id %}"> <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fa fa-download fa-lg" aria-hidden="true"></i>&nbsp; &nbsp;Export</button></a>
                                    </div>
                                </div>
                            </div>
                            <div id="onlytable" class="table-responsive">
                                <table class="table table-striped" style="border: 1px">
                                    <thead>
                                        <tr>
                                            <th class="text-left">ID</th>
                                            <th>Names</th>
                                            <th>Phone</th>
                                            <th>Amount Paid</th>
                                            <th>Payment Date</th>                                            
                                            <th>Transaction ID</th>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for payment in payments %}
                                    <tr>
                                            <td>{{payment.id}}</td>
                                            <td>{{payment.SubscriptionsID.CustomerID.FirstName}} {{payment.SubscriptionsID.CustomerID.LastName}}</td>
                                            <td>{{payment.SubscriptionsID.CustomerID.user.phone}}</td>
                                            <td>{{payment.Paidamount}} Rwf</td>
                                            <td>{{payment.PaymentDate}}</td>
                                            <td>{{payment.TransID}}</td>

                                            
                                            
                                        </tr>

                                    {% endfor %}
                                        
                                    
                                        </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <!--===================================================-->
                        <!--End Data Table-->
                    
                    </div>



                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{customer.FirstName}} {{customer.LastName}} Buy water Transactions</h3>
                        </div>
                    
                        <!--Data Table-->
                        <!--===================================================-->
                        <div class="panel-body">
                            <div class="pad-btm form-inline">
                                <div class="row">
                                    
                                    <div class="col-sm-12 table-toolbar-right">
                                        <button value="click" onclick="printDiv()" id="demo-btn-addrow" class="btn btn-mint"><i class="fa fa-print fa-lg"></i>&nbsp; &nbsp;Print</button>
                                        <a href="{% url 'export_transaction_csv' customer.id %}"> <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fa fa-download fa-lg" aria-hidden="true"></i>&nbsp; &nbsp;Export</button></a>
                                    </div>
                                </div>
                            </div>
                            <div id="onlytable" class="table-responsive">
                                <table class="table table-striped" style="border: 1px">
                                    <thead>
                                        <tr>
                                            <th class="text-left">ID</th>
                                            <th>Names</th>
                                            <th>Phone</th>
                                            <th>Amount Paid</th>
                                            <th>Payment Date</th>                                            
                                            <th>Transaction ID</th>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for payment in waterpayments %}
                                    <tr>
                                            <td>{{payment.id}}</td>
                                            <td>{{payment.Customer.FirstName}} {{payment.Customer.LastName}}</td>
                                            <td>{{payment.Customer.user.phone}}</td>
                                            <td>{{payment.Amount}} Rwf</td>
                                            <td>{{payment.created_at}}</td>
                                            <td>{{payment.TransactionID}}</td>

                                            
                                            
                                        </tr>

                                    {% endfor %}
                                        
                                    
                                        </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <!--===================================================-->
                        <!--End Data Table-->
                    
                    </div>
					
					
					
					
					
					
					
                </div>

                <script>
                    function printDiv() {
                        var divContents = document.getElementById("onlytable").innerHTML;
                        var a = window.open('', '', 'height=2000, width=2000');
                        a.document.write('<html> <title');
                        a.document.write('<body> <h1>Transactions<br>');
                        a.document.write(divContents);
                        a.document.write('</body></html>');
                        a.document.close();
                        a.print();
                    }
                </script>

{% endblock content%}