{% extends 'base.html'%}
{% load static %}
{% block content%}

 <div id="page-content">
                    
					<div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{subscription.CustomerID.FirstName}} {{subscription.CustomerID.LastName}}'s Transactions</h3>
                        </div>
                    
                        <!--Data Table-->
                        <!--===================================================-->
                        <div class="panel-body">
                            <div class="pad-btm form-inline">
                                <div class="row">
                                    
                                    
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped" style="border: 1px">
                                    <thead>
                                        <tr>
                                            <th class="text-left">ID</th>
                                            <th>Names</th>
                                            <th>Amount Paid</th>
                                            <th>Payment Date</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for payment in payments %}
                                    <tr>
                                            <td>{{payment.id}}</td>
                                            <td>{{payment.SubscriptionsID.CustomerID.FirstName}} {{customer.SubscriptionsID.CustomerID.LastName}}</td>
                                            <td>{{payment.Paidamount}} Rwf</td>
                                            <td>{{payment.PaymentDate}}</td>

                                            
                                            
                                        </tr>

                                    {% endfor %}
                                        
                                    
                                        </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <!--===================================================-->
                        <!--End Data Table-->
                    
                    </div>
					
					
					
					
					
					
					
                </div>

{% endblock content%}