{% extends 'base.html'%}
{% load static %}
{% block content%}

 <div id="page-content">
                    
					<div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Update Blog</h3>
                                </div>
                    
                                <!--Block Styled Form -->
                                <!--===================================================-->
                                <form enctype="multipart/form-data" action="{% url 'updateBlog'  UpdateBlog.id %}" method="POST">
                                {% csrf_token %}
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">Title</label>
                                                    <input type="text" class="form-control" name="Title" value={{UpdateBlog.Title}}> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                {% if  UpdateBlog.Image %}
                                                  <img src="{{UpdateBlog.Image.url}}" height=60 width=60/>
                                                {% endif %}
                                                <br>
                                                    <label class="control-label">Blog Image</label>
                                                    <input type="file" class="form-control" name="Image">  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">Blog Details</label>
                                                    <textarea type="text" class="form-control" name="detail" style="height:200px;">{{UpdateBlog.Details}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-right">
                                        <button class="btn btn-block btn-success" type="submit">Submit</button>
                                    </div>
                                </form>
                                <!--===================================================-->
                                <!--End Block Styled Form -->
                    
                            </div>
					
					
					
					
					
					
					
                </div>

{% endblock content%}