{% extends 'base.html'%}
{% load static %}
{% block content%}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

 <div id="page-content">
                    
					<div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Update customers</h3>
                                </div>
                    
                                <!--Block Styled Form -->
                                <!--===================================================-->
                                <form enctype="multipart/form-data" action="{% url 'update_customer' updatecustomer.id %}" method="POST">
                                {% csrf_token %}
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">Firstname</label>
                                                    <input type="text" class="form-control" name="FirstName" required value={{updatecustomer.FirstName}}> 
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">Lastname</label>
                                                    <input type="text" class="form-control" name="LastName" required value={{updatecustomer.LastName}}> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">ID number</label>
                                                    <input type="number" class="form-control" name="IDnumber" required value={{updatecustomer.IDnumber}}>
                                                </div>
                                            </div>
                                            
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Province</label>
                                                    <input type="text" class="form-control" name="Province" required value={{updatecustomer.Province}}>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">District</label>
                                                    <input type="text" class="form-control" name="District"required value={{updatecustomer.District}}>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Sector</label>
                                                    <input type="text" class="form-control"name="Sector"required value={{updatecustomer.Sector}}>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Cell</label>
                                                    <input type="text" class="form-control" name="Cell"required value={{updatecustomer.Cell}}>
                                                </div>
                                            </div>
                                             <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">Language</label>
                                                    <select class="form-control" name="Language" required >
                                                       <option value="">Select preferably Language</option> 
                                                       {% if english %}
                                                        <option value="English" selected>English</option> 
                                                       <option value="Kinyarwanda">Kinyarwanda</option>
                                                       {% else %}
                                                       <option value="English">English</option> 
                                                       <option value="Kinyarwanda" selected>Kinyarwanda</option>
                                                       {% endif %}
                                                        
                                                    </select>                                                
                                            </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">Meter Number</label>
                                                    <select class="js-example-basic-single form-control" name="Meternumber">
                                                       <option value="">Select meter number</option> 
                                                    {% for meter in Meter %}
                                                       <option value="{{meter.id}}">{{meter.Meternumber}}</option> 
                                                    {% endfor %}
                                                       
                                                    </select>  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-right">
                                        <button class="btn btn-block btn-success" type="submit">Submit</button>
                                    </div>
                                </form>
                                <!--===================================================-->
                                <!--End Block Styled Form -->
                    
                            </div>
					
					
					
					
					
					
					
                </div>

                <script>
                    $(document).ready(function() {
                        $('.js-example-basic-single').select2();
                    });
                    
                    </script

{% endblock content%}