{% extends 'base.html'%}
{% load static %}
{% block content%}

 <div id="page-content">
                    
					<div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Users list</h3>
                        </div>
                    
                        <!--Data Table-->
                        <!--===================================================-->
                        <div class="panel-body">
                            <div class="pad-btm form-inline">
                                <div class="row">
                                    
                                    <div class="col-sm-12 table-toolbar-right">
                                        <a href="{% url 'operator'%}" id="demo-btn-addrow" class="btn btn-purple"><i class="demo-pli-add"></i> Add new</a>

                                        <div class="btn-group">
                                            <div class="form-group">
                                        <form class="form-inline my-2 my-lg-0" action="{% url 'user'%}">
                                        <input id="demo-input-search2" type="text" name="search" placeholder="Search by User Number" class="form-control" autocomplete="off">
                                        <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </form>
                                        </div>
                                   
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped" style="border: 1px">
                                    <thead>
                                        <tr>
                                            <th class="text-left">ID</th>
                                            <th>Email</th>
                                            <th>Phone Number</th>
                                            <th>User type</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in page_obj %}
                                    <tr>
                                            <td><a class="btn-link" href="#">{{user.id}}</a></td>
                                            <td>{{user.email}}</td>
                                            <td>{{user.phone}}</td>
                                            <td>
                                            {% if user.staff %}
                                            Staff
                                            {% else %}
                                            Client
                                            {% endif %}
                                            </td>
                                            <td>
                                                <a onclick="return confirm('Are you sure you want to reset password?')" href="{% url 'reset_password' user.id %}">
                                                <button class="btn btn-primary"><i class='fa fa-lock'></i> Reset password</button>
                                                </a>
                                                <a onclick="return confirm('Are you sure you want to change this user's number?')" href="{% url 'updatenum' user.id %}">
                                                    <button class="btn btn-danger"><i class='fa fa-pencil'></i> Change N#</button>
                                                </a>
                                            </td>
                                    </tr>

                                    {% endfor %}
                                        
                                    
                                        </tbody>
                                </table>
                            </div>
                            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-primary mb-4" href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&laquo; first</a>
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">next</a>
                        <a class="btn btn-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
                        </div>
                        <!--===================================================-->
                        <!--End Data Table-->
                    
                    </div>
					
					
					
					
					
					
					
                </div>

{% endblock content%}