<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load humanize %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Access Rwanda</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel='stylesheet' href="{% static "web/css/global.css"%}">
    <link rel='stylesheet' href="{% static "web/css/structure.css"%}">
    <link rel='stylesheet' href="{% static "web/css/betheme.css"%}">
    <link rel='stylesheet' href="{% static "web/css/custom.css"%}">
	<link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
	<script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)
	
	</script>
	{% comment %} <link rel='stylesheet' href="{% static "web/css/scooterrental.css" %}"> {% endcomment %}
     <style>

        body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}
.gothic{
	font-family: century-gothic
}

    </style>
</head>
<body class="woocommerce woocommerce-page with_aside aside_right color-custom style-default layout-full-width header-plain header-fw minimalist-header sticky-header sticky-white ab-hide subheader-both-center menuo-last menuo-right mm-vertical mobile-tb-hide mobile-mini-mr-ll">

<div id="Wrapper">
        <div id="Header_wrapper">
	    <header id="Header" >
				<div id="Top_bar" style="background-color:white;border:none">
					<div class="container">
						<div class="column one">
							<div class="top_bar_left clearfix"  >
								<div class="logo">
									<a id="logo" href="{% url 'index' %}" ><img class="logo-main scale-with-grid" src="{% static "web/images/scooterrental.png" %}" data-retina="{% static "web/images/scooterrental.png" %}"  data-no-retina style="height:35px;width:150px;padding-bottom:25px;"><img class="logo-sticky scale-with-grid" src="{% static "web/images/scooterrental.png" %}" data-retina="{% static "web/images/scooterrental.png" %}" data-height="30" alt="scooterrental" data-no-retina><img class="logo-mobile scale-with-grid" src="{% static "web/images/scooterrental.png"%}"  data-height="30" alt="scooterrental" data-no-retina><img class="logo-mobile-sticky scale-with-grid" src="{% static "web/images/scooterrental.png" %}"  data-height="30" alt="scooterrental" data-no-retina></a>
								</div>
								<div class="menu_wrapper">
									<nav id="menu">
										<ul id="menu-main-menu" class="menu menu-main" >
											<li class="gothic"> <a href="{% url 'index' %}"><span style="border:none;color:black">Home</span></a> </li>
											{% comment %} <li> <a href="{% url 'about' %}"><span style="border:none;color:black">About us</span></a> </li> {% endcomment %}
											<li class="gothic"> <a href="{% url 'rainwater' %}"><span style="border:none;color:black">Rain Water</span></a> </li>
											<li class="gothic"> <a href="{% url 'blog' %}"><span style="border:none;color:black">Blog</span></a> </li>
											<li class="gothic"> <a href="{% url 'contact_us' %}"><span style="border:none;color:black">Contact</span></a> </li>
										</ul>
                                        
									</nav><a class="responsive-menu-toggle " href="#"><i class="fa fa-bars" ></i></a> </div>
							</div>
							
						</div>
					</div>
				</div>
			</header>
		</div>
    <div class="row" style="margin-bottom:50px">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="gothic btn btn-outline-dark" href="{% url 'shopping' %}">&#x2190; Continue Shopping</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5 class="gothic">Items: <strong>{{order.get_cart_items}}</strong></h5></th>
						<th><h5 class="gothic">Total:<strong> Rwf {{order.get_cart_total|intcomma}}</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout2' %}" class="gothic">Checkout</a>
						</th>
					</tr>
				</table>

			</div>

			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong class="gothic">Item</strong></div>
					<div style="flex:1"><strong class="gothic">Price</strong></div>
					<div style="flex:1"><strong class="gothic">Quantity</strong></div>
					<div style="flex:1"><strong class="gothic">Total</strong></div>
					<div style="flex:1"><strong class="gothic">Actions</strong></div>
				</div>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p class="gothic">{{item.product.name}}</p></div>
					<div style="flex:1"><p class="gothic">Rwf {{item.product.price|intcomma}}</p></div>
					<div style="flex:1">
						<p class="quantity">{{item.quantity}}</p>
						<div class="quantity">
							<img data-product="{{item.product.id}}" data-stock="{{item.product.inStock}}" data-action="add" class="chg-quantity update-cart" src="{% static  'img/arrow-up.png' %}">
					
							<img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'img/arrow-down.png' %}">
						</div>
					</div>
					<div style="flex:1"><p class="gothic">{{item.get_total|intcomma}} Rwf</p></div>
					<div style="flex:1">
						<button data-product="{{item.product.id}}" class='btn btn-danger removeItem'> <i class="fa fa-times" aria-hidden="true"></i> </button>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<footer id="Footer" class="clearfix ">
			<div class="widgets_wrapper ">
				<div class="container">
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h6 class="gothic" style="color:#7d7d7d">QUICK LINKS</h6>
									<hr class="no_line" style="margin:0 auto 20px">
									{% comment %} <p> <a href="{% url 'about' %}"> About us</a> </p> {% endcomment %}
									<p class="gothic"> <a href="https://www.warwanda.com/">Service</a> </p>
									<p class="gothic"> <a href="{% url 'rainwater' %}">Rainwater</a> </p>
									<p class="gothic"> <a href="{% url 'login' %}">LOGIN</a> </p>
								</div>
							</div>
						</aside>
					</div>
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h3 class="gothic">Rainwater is safe water
										<br>
										 
									<hr class="no_line" style="margin:0 auto 20px">
									<a href="#"><img src="{% static "web/images/scooterrental-footer-btn1.png" %}"></a>
									<a href="#"><img src="{% static "web/images/scooterrental-footer-btn2.png" %}"></a>
									<hr class="no_line" style="margin:0 auto 20px">
									<p class="gothic"> <a href="{% url 'contact_us' %}">CONTACT US <i class="icon-right-thin" style="color:#00b4e3"></i></a> </p>
									<hr class="no_line" style="margin:0 auto 80px"> </div>
							</div>
						</aside>
					</div>
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h6class="gothic" style="color:#7d7d7d">MORE INFO</h6class=>
									<hr class="no_line" style="margin:0 auto 20px">
									<p class="gothic"><a href="https://twitter.com/amazirw" style="margin-left:1px;"><i class="fa fa-twitter-square fa-2x"></i>&nbsp&nbsp&nbsp Twitter</a> </p>
									<p class="gothic"><a href="https://web.facebook.com/amazirw?_rdc=1&_rdr" style="margin-left:20px;"><i class="fa fa-facebook-official fa-2x"></i>&nbsp&nbsp&nbsp Facebook</a> </p>
									<p class="gothic"><a href="https://www.instagram.com/amazirw/" style="margin-left:20px;"><i class="fa fa-instagram fa-2x"></i>&nbsp&nbsp&nbsp Instagram</a> </p>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>
			<div class="footer_copy">
				<div class="container">
					<div class="column one">
						<div class="copyright"> &copy; <script>document.write(new Date().getFullYear());</script> Water Access Rwanda </div>
					</div>
				</div>
			</div>
		</footer>
			</div>
			<div id="Side_slide" class="right dark" data-width="250">
		<div class="close-wrapper"> <a href="#" class="close"><i class="icon-cancel-fine"></i></a> </div>
		<div class="menu_wrapper"></div>
		<div class="extras"> <a href="{% url 'shopping' %}" class="action_button" target="_blank" class="gothic">SHOP</a>
			<div class="extras-wrapper"></div>
		</div>
	</div>
    <script>
     var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')
        var updateBtns = document.getElementsByClassName('update-cart')
        var removeBtns = document.getElementsByClassName('removeItem')
		

for (i = 0; i < updateBtns.length; i++) {
	updateBtns[i].addEventListener('click', function(){
		var productId = this.dataset.product
		var inStock = this.dataset.stock
		var action = this.dataset.action
		console.log('productId:', productId, 'Action:', action)
		addCookieItem(productId,inStock, action)
		
	})
}

for (i = 0; i < removeBtns.length; i++) {
	removeBtns[i].addEventListener('click', function(){
		var productId = this.dataset.product
		delete cart[productId];
		console.log('CART:', cart)
		document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
	
		location.reload()
		
		
	})
}

function addCookieItem(productId,inStock, action){
	console.log('User is not authenticated')

	if (action == 'add'){
		if (cart[productId] == undefined){
		cart[productId] = {'quantity':1,'inStock':inStock}

		}else{
			if(cart[productId]['quantity']<parseInt(inStock)){
			cart[productId]['quantity'] += 1
			}
			else{
				alert('Only '+inStock+' are available in our stock!')
			}
		}
	}

	if (action == 'remove'){
		cart[productId]['quantity'] -= 1

		if (cart[productId]['quantity'] <= 0){
			console.log('Item should be deleted')
			delete cart[productId];
		}
	}
	console.log('CART:', cart)
	document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
	
	location.reload()
}


    </script>
		<script src="//code.tidio.co/tuobbr5su5t5kp6r5xrhmzlbxmtvf5mv.js" async></script>

</body>
</html>