<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
{% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Water Access Rwanda</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Favicons -->
	<link rel="shortcut icon" href="{% static "web/images/favicon.ico"%}">
	<!-- FONTS -->
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Sora:100,200,300,400,400italic,500,600,700,700italic,900'>
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Poppins:100,200,300,400,400italic,500,600,700,700italic,900'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<!-- CSS -->
	<link rel='stylesheet' href="{% static "web/css/global.css"%}">
	<link rel='stylesheet' href="{% static "web/css/structure.css"%}">
	<link rel='stylesheet' href="{% static "web/css/scooterrental.css"%}">
	<link rel='stylesheet' href="{% static "web/css/custom.css"%}"> </head>

<body class="page-template-default page color-custom style-simple button-custom layout-full-width if-zoom if-border-hide no-content-padding no-shadows header-classic sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-right menuo-no-borders footer-copy-center mobile-tb-hide mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-sticky ">
	<div id="Wrapper">
		<div id="Header_wrapper">
			<header id="Header">
				<div id="Top_bar">
					<div class="container">
						<div class="column one">
							<div class="top_bar_left clearfix">
								<div class="logo">
									<a id="logo" href="{% url 'index' %}" title="BeScooterRental - Betheme" data-height="60" data-padding="30"><img class="logo-main scale-with-grid" src="{% static "web/images/scooterrental.png" %}" data-retina="{% static "web/images/scooterrental.png" %}" data-height="50" alt="scooterrental" data-no-retina><img class="logo-sticky scale-with-grid" src="{% static "web/images/scooterrental.png" %}" data-retina="{% static "web/images/scooterrental.png" %}" data-height="50" alt="scooterrental" data-no-retina><img class="logo-mobile scale-with-grid" src="{% static "web/images/scooterrental.png"%}"  data-height="50" alt="scooterrental" data-no-retina><img class="logo-mobile-sticky scale-with-grid" src="{% static "web/images/scooterrental.png" %}"  data-height="50" alt="scooterrental" data-no-retina></a>
								</div>
								<div class="menu_wrapper">
									<nav id="menu">
										<ul id="menu-main-menu" class="menu menu-main">
											<li class=" page_item "> <a href="{% url 'index' %}"><span>Home</span></a> </li>
											<li> <a href="{% url 'about' %}"><span>About us</span></a> </li>
											<li> <a href="{% url 'rainwater' %}"><span>Rain Water</span></a> </li>
											<li > <a href="{% url 'blog' %}"><span>Blog</span></a> </li>
											<li class="current-menu-item"><a href="{% url 'contact_us' %}"><span>Contact</span></a> </li>
										</ul>
									</nav><a class="responsive-menu-toggle " href="#"><i class="icon-menu-fine"></i></a> </div>
							</div>
							<div class="top_bar_right">
								<div class="top_bar_right_wrapper"> <a href="{% url 'shopping' %}" class="action_button" >SHOP</a> </div>
							</div>
						</div>
					</div>
				</div>
			</header>
		</div>
		<div id="Content">
			<div class="content_wrapper clearfix">
				<div class="sections_group">
					<div class="entry-content">
						<div class="section mcb-section mcb-section-0c680f8ea full-width" style="padding-bottom:120px;padding-left:5%;padding-right:5%">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-d5d07472b one scooterrental-wrap-radius2 valign-top clearfix" style="padding:120px 10% 70px;background-color:#000;background-image:url({% static "web/images/scooterrental-section-bg1.png" %});background-repeat:no-repeat;background-position:left center">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-04c5d7bfe one-sixth column_placeholder">
											<div class="placeholder"> &nbsp; </div>
										</div>
										<div class="column mcb-column mcb-item-846a89027 two-third column_column">
											<div class="column_attr clearfix align_center" style>
												<h6 style="color:#FFF;"><span style="font-size:18px;color:#009cde;margin-right:10px;">●</span>CONTACT</h6>
												<hr class="no_line" style="margin:0 auto 20px">
												<h1 style="color:#FFF;">Feel<span class="themecolor"> free </span>to
													<br>
													<span class="themecolor">contact</span> with us</h1>
												<hr class="no_line" style="margin:0 auto 20px">
												 </div>
										</div>
										<div class="column mcb-column mcb-item-8hk6k0yi6 one column_divider">
											<hr class="no_line" style="margin:0 auto 80px"> </div>
										<div class="column mcb-column mcb-item-szqxrsejn one-sixth column_placeholder">
											<div class="placeholder"> &nbsp; </div>
										</div>
										<div class="column mcb-column mcb-item-d49zj8b3l one-third column_column">
											<div class="column_attr clearfix" style>
												<h2 class="themecolor">Address</h2>
												<hr class="no_line" style="margin:0 auto 35px">
												<h4 style="color:#FFF;">157 KN 2 Ave,
													<br>
													Kigali, Nyarugenge
													</h4>
												<h4 style="color:#FFF;"><i class="fa fa-phone"></i>+250 788 888 888</h4>
												<h4 style="color:#FFF;"><i class="fa fa-envelope"></i><a href="#" style="color:white" >info@warwanda.com</a></h4> </div>
										</div>
										<div class="column mcb-column mcb-item-lw0uwepr5 one-third column_column">
											<div class="column_attr clearfix align_center" style="background-color:#fff;padding:40px 10% 25px;border-radius: 20px; box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);">
												<h3>SEND US A MESSAGE</h3>
												<div id="contactWrapper">
													<form id="contactform">
														<!-- One Second (1/2) Column -->
														<div class="column one-second">
															<input placeholder="Your name" type="text" name="name" id="name" size="40" aria-required="true" aria-invalid="false" /> </div>
														<!-- One Second (1/2) Column -->
														<div class="column one-second">
															<input placeholder="Your e-mail" type="email" name="email" id="email" size="40" aria-required="true" aria-invalid="false" /> </div>
														<div class="column one">
															<input placeholder="Subject" type="text" name="subject" id="subject" size="40" aria-invalid="false" /> </div>
														<div class="column one">
															<textarea placeholder="Message" name="body" id="body" style="width:100%;" rows="10" aria-invalid="false"></textarea>
														</div>
														<div class="column one">
															<input type="button" value="Send A Message" id="submit" onClick="return check_values();"> </div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer id="Footer" class="clearfix ">
			<div class="widgets_wrapper ">
				<div class="container">
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h6 style="color:#7d7d7d">QUICK LINKS</h6>
									<hr class="no_line" style="margin:0 auto 20px">
									<p> <a href="{% url 'about' %}"> About us</a> </p>
									<p> <a href="{% url 'service' %}">Service</a> </p>
									<p> <a href="{% url 'rainwater' %}">Rainwater</a> </p>
									<p> <a href="{% url 'login' %}">LOGIN</a> </p>
								</div>
							</div>
						</aside>
					</div>
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h3>Simple, Affordable and Reliable Access to
										<br>
										<span class="themecolor">Clean Safe Water</span></h3>
									<hr class="no_line" style="margin:0 auto 20px">
									<a href="#"><img src="{% static "web/images/scooterrental-footer-btn1.png" %}"></a>
									<a href="#"><img src="{% static "web/images/scooterrental-footer-btn2.png" %}"></a>
									<hr class="no_line" style="margin:0 auto 20px">
									<p> <a href="{% url 'contact_us' %}">CONTACT US <i class="icon-right-thin" style="color:#009cde"></i></a> </p>
									<hr class="no_line" style="margin:0 auto 80px"> </div>
							</div>
						</aside>
					</div>
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h6 style="color:#7d7d7d">MORE INFO</h6>
									<hr class="no_line" style="margin:0 auto 20px">
									<p> <a href="#">Inuma</a> </p>
									<p> <a href="#">Amazi</a> </p>
									<p> <a href="#">Uhira</a> </p>
									<p> <a href="#">Voma</a> </p>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>
			<div class="footer_copy">
				<div class="container">
					<div class="column one">
						<div class="copyright"> &copy; <script>document.write(new Date().getFullYear());</script> Water Access Rwanda </div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<div id="Side_slide" class="right dark" data-width="250">
		<div class="close-wrapper"> <a href="#" class="close"><i class="icon-cancel-fine"></i></a> </div>
		<div class="menu_wrapper"></div>
		<div class="extras"> <a href="{% url 'shopping' %}" class="action_button" target="_blank">SHOP</a>
			<div class="extras-wrapper"></div>
		</div>
	</div>
	<div id="body_overlay"></div>
	<!-- JS -->
	<script src="{% static "web/js/jquery-2.1.4.min.js"%}"></script>
	<script src="{% static "web/js/mfn.menu.js"%}"></script>
	<script src="{% static "web/js/jquery.plugins.js"%}"></script>
	<script src="{% static "web/js/jquery.jplayer.min.js"%}"></script>
	<script src="{% static "web/js/animations/animations.js"%}"></script>
	<script src="{% static "web/js/translate3d.js"%}"></script>
	<script src="{% static "web/js/scripts.js"%}"></script>
	<script src="{% static "web/js/email.js"%}"></script>
</body>

</html>
<!-- Localized -->
