<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
{% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Be</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<!-- FONTS -->
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Sora:100,200,300,400,400italic,500,600,700,700italic,900'>
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Poppins:100,200,300,400,400italic,500,600,700,700italic,900'>
	<!-- CSS -->
	<link rel='stylesheet' href="{% static "web/css/global.css" %}">
	<link rel='stylesheet' href="{% static "web/css/structure.css" %}">
	<link rel='stylesheet' href="{% static "web/css/scooterrental.css"%}">
	<link rel='stylesheet' href="{% static "web/css/custom.css" %}"> </head>

<body class="page-template-default page color-custom style-simple button-custom layout-full-width if-zoom if-border-hide no-content-padding no-shadows header-classic sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-right menuo-no-borders footer-copy-center mobile-tb-hide mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-sticky ">
	<div id="Wrapper">
		<div id="Header_wrapper">
			<header id="Header">
				<div id="Top_bar">
					<div class="container">
						<div class="column one">
							<div class="top_bar_left clearfix">
								<div class="logo">
									<a id="logo" href=".index.html" title="BeScooterRental - Betheme" data-height="60" data-padding="30">
									<img class="logo-main scale-with-grid" src="{% static "web/images/scooterrental.png" %}" data-retina="{% static "web/images/retina-scooterrental.png" %}" data-height="50" alt="scooterrental" data-no-retina>
									<img class="logo-sticky scale-with-grid" src="{% static "web/images/scooterrental.png" %}"data-retina="{% static "web/images/retina-scooterrental.png" %}" data-height="50" alt="scooterrental" data-no-retina>
									<img class="logo-mobile scale-with-grid" src="{% static "web/images/scooterrental.png" %}"data-retina="{% static "web/images/retina-scooterrental.png" %}" data-height="50" alt="scooterrental" data-no-retina>
									<img class="logo-mobile-sticky scale-with-grid" src="{% static "web/images/scooterrental.png" %}"data-retina="{% static "web/images/retina-scooterrental.png" %}" data-height="50" alt="scooterrental" data-no-retina></a>
								</div>
								<div class="menu_wrapper">
									<nav id="menu">
										<ul id="menu-main-menu" class="menu menu-main">
											<li> <a href="index.html"><span>Home</span></a> </li>
											<li> <a href="about.html"><span>About us</span></a> </li>
											<li> <a href="service.html"><span>Service</span></a> </li>
											<li> <a href="ijabo.html"><span>Ijabo</span></a> </li>
											<li> <a href="blog.html"><span>Blog</span></a> </li>
											<li> <a href="contact.html"><span>Contact</span></a> </li>
										</ul>
									</nav><a class="responsive-menu-toggle " href="#"><i class="icon-menu-fine"></i></a> </div>
							</div>
							<div class="top_bar_right">
								<div class="top_bar_right_wrapper"> <a href="https://1.envato.market/9ZxXY" class="action_button" target="_blank">BUY NOW</a> </div>
							</div>
						</div>
					</div>
				</div>
			</header>
		</div>
		<div id="Content">
			<div class="content_wrapper clearfix">
				<div class="sections_group">
					<div class="entry-content">
						<div class="section mcb-section mcb-section-19e2801bd full-width" style="padding-left:5%;padding-right:5%">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-f71662337 one scooterrental-wrap-radius2 valign-top clearfix" style="padding:120px 10% 70px;background-color:#000;background-image:url(  {% static "web/images/scooterrental-section-bg1.png" %} );background-repeat:no-repeat;background-position:left center">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-a0e4df973 one-sixth column_placeholder">
											<div class="placeholder"> &nbsp; </div>
										</div>
										<div class="column mcb-column mcb-item-75ad2287a two-third column_column">
											<div class="column_attr clearfix align_center" style>
												<h6 style="color:#FFF;"><span style="font-size:18px;color:#00d285;margin-right:10px;">●</span>HOW IT WORKS</h6>
												<hr class="no_line" style="margin:0 auto 20px">
												<h1 style="color:#FFF;"><span class="themecolor">IJABO</span>
													</h1>
												<hr class="no_line" style="margin:0 auto 20px">
												<h5 style="color:#FFF;">A new model that supports small rural farmers living uphill or far from surface water sources to irrigate.
													</h5> </div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<br><br><br>




						
						<div class="section mcb-section mcb-section-2cf377dd2 full-width" id="pricing" style="padding-left:5%;padding-right:5%">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-d0a5dbd05 one scooterrental-wrap-radius valign-top clearfix" style="padding:100px 5% 190px;background-color:#00d285">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-c9dae01bf one column_column">
											<div class="column_attr clearfix align_center" style>
												<h2 style="color:#FFF;">The Problems Ijabo Solves</h2>
												<hr class="no_line" style="margin:0 auto 20px">
												<h5>From Rwanda Ministry of Agriculture : "The causes of current low levels of productivity and profitability are multiple, but often related
												 to landfragmentation (small farm-sizes). A rural household cultivates on average 0.6 ha, and has 2-5 animals, hence the plots are often too 
												 small to produce a marketable surplus to invest in future production." </h5> </div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="section mcb-section mcb-section-851e1f695" style="padding-top:120px;padding-bottom:80px">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-9c3fddda3 one-third valign-top move-up clearfix" style="padding:0 2%;margin-top:-240px" data-mobile="no-up">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-68ce7fdbd one column_column">
											<div class="column_attr clearfix align_center" style="background-color:#fff;padding:40px 10%;border-radius: 20px; box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);">
												
												<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
													<div class="image_wrapper"><img class="scale-with-grid" src="{% static "web/images/scooterrental-home-icon9.png" %}" alt="scooterrental-home-icon9" title width="96" height="96"> </div>
												</div>
												<hr class="no_line" style="margin:0 auto 40px">
												
												<hr class="no_line" style="margin:0 auto 15px">
												<p style="color:#8e9aac;"> 
													Only 1.6% of Rwandan arable land is irrigated. Farmers living high on the hills and far from surface water are unable to to irriggate and only rely on rain water to grow. 
												</p>
												<hr class="no_line" style="margin:0 auto 10px">
												
										 		</div>
										    </div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-1c97632f2 one-third valign-top move-up clearfix" style="padding:0 2%;margin-top:-240px" data-mobile="no-up">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-972e0921c one column_column">
											<div class="column_attr clearfix align_center" style="background-color:#fff;padding:40px 10%;border-radius: 20px; box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);">
												
												<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
													<div class="image_wrapper"><img class="scale-with-grid" src="{% static "web/images/scooterrental-home-icon9.png" %}" alt="scooterrental-home-icon9" title width="96" height="96"> </div>
												</div>
												<hr class="no_line" style="margin:0 auto 40px">
												
												<hr class="no_line" style="margin:0 auto 15px">
												<p style="color:#8e9aac;"> 
													Farmers can increase by more than 50% their yields if they irrigate. A Crop Competitiveness Assessment in 2016 found that yields for several crops in Rwanda were less than half of their potential. 
												</p>
												<hr class="no_line" style="margin:0 auto 10px">
												
										 		</div>
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-2eed54b24 one-third valign-top move-up clearfix" style="padding:0 2%;margin-top:-240px" data-mobile="no-up">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-79d1fbc71 one column_column">
											<div class="column_attr clearfix align_center" style="background-color:#fff;padding:40px 10%;border-radius: 20px; box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);">
												
												<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
													<div class="image_wrapper"><img class="scale-with-grid" src="{% static "web/images/scooterrental-home-icon9.png" %}" alt="scooterrental-home-icon9" title width="96" height="96"> </div>
												</div>
												<hr class="no_line" style="margin:0 auto 40px">
												
												<hr class="no_line" style="margin:0 auto 15px">
												<p style="color:#8e9aac;"> 
													121,000 Ha in Rwanda are suitable for small scale irrigation. Land is highly fragmented in Rwanda with the average farmer holding 0.4 to 0.7 ha of land only
												</p>
												<hr class="no_line" style="margin:0 auto 10px">
												
										 		</div>
										</div>
									</div>
								</div>
							</div>
						</div>






						<div class="section mcb-section mcb-section-9e98f0fdc equal-height-wrap" style="padding-top:120px;padding-bottom:80px">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-2a27884ed one-second valign-middle clearfix" style="padding:0 5% 0 0 ">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-7e0a6c322 one column_column column-margin-20px">
											<div class="column_attr clearfix" style>
												<h2><span class="themecolor">Our</span> Solution</h2>
												<hr class="no_line" style="margin:0 auto 10px">
												<h5>Ijabo combines groups of small farmers and installs a full water system for the farmers to share
												 and irrigate from. The group of farmers should at least have 2 ha total combined land to a maximum of 10 ha.
												The farmers only pay for water used on their farms while the system owner, a franchisee or one of
												 the farmers, collects the income to repay the system cost and make a profit for themselves.
												  This model creates income from water sales and from increased yields by the farmers, allowing for shared value creation. </h5>
												<hr class="no_line" style="margin:0 auto 10px">
												
											</div>
										</div>
										<div class="column mcb-column mcb-item-48a34pell one column_divider">
											<hr class="no_line" style="margin:0 auto 40px"> </div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-0e4f0a448 one-second valign-middle clearfix" style="padding:0 5%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-b6e2ae677 one column_image">
											<div class="image_frame image_item no_link scale-with-grid no_border">
												<div class="image_wrapper"><img class="scale-with-grid" src="{% static "web/images/scooterrental-how-pic1.jpg" %}" alt="scooterrental-how-pic1" title width="780" height="1137"> </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="column_attr clearfix align_center" >
												<h2><span class="themecolor">
How it Works : A Partnership</span> </h2><br>
<h5>The creation of each new Ijabo requires the key partnership of the following entities</h5>
												<hr class="no_line" style="margin:0 auto 20px">
										</div>
						<div class="section mcb-section mcb-section-rvdr5atfj full-width" style="padding-bottom:120px">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-gwu1k335f one-second valign-middle clearfix" style="padding:0 7%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-2xoovn444 one-sixth column_placeholder">
											<div class="placeholder"> &nbsp; </div>
										</div>
										<div class="column mcb-column mcb-item-m3zd3ku3c five-sixth column_column column-margin-0px" style="margin-top: 50px;">
											<div class="column_attr clearfix" style="background-image:url({% static "web/images/scooterrental-how-bg1.png" %});background-repeat:no-repeat;background-position:left center;padding:40px 0 25px 80px;">
												<h2 class="themecolor">01</h2>
												<h3>The System Owner</h3> </div>
										</div>
										<div class="column mcb-column mcb-item-kvh987v7v one column_divider">
											<hr class="no_line" style="margin:0 auto 0px"> </div>
										<div class="column mcb-column mcb-item-gn61fzdqz one-sixth column_placeholder">
											<div class="placeholder"> &nbsp; </div>
										</div>
										<div class="column mcb-column mcb-item-zwyn3qubs five-sixth column_column column-margin-0px" style="margin-top: 60px;">
											<div class="column_attr clearfix" style="background-image:url({% static "web/images/scooterrental-how-bg1.png" %});background-repeat:no-repeat;background-position:left center;padding:40px 0 25px 80px;">
												<h2 class="themecolor">02</h2>
												<h3>Water Access Rwanda</h3> </div>
										</div>
										<div class="column mcb-column mcb-item-z4tlxq893 one column_divider">
											<hr class="no_line" style="margin:0 auto 0px"> </div>
										<div class="column mcb-column mcb-item-cghij9ghk one-sixth column_placeholder">
											<div class="placeholder"> &nbsp; </div>
										</div>
										<div class="column mcb-column mcb-item-skeb1w0ha five-sixth column_column column-margin-0px" style="margin-top: 100px;">
											<div class="column_attr clearfix" style="background-image:url({% static "web/images/scooterrental-how-bg1.png" %});background-repeat:no-repeat;background-position:left center;padding:40px 0 25px 80px;">
												<h2 class="themecolor">03</h2>
												<h3>The Farmers</h3> </div>
										</div>
										<div class="column mcb-column mcb-item-rvfx82fzh one column_divider">
											<hr class="no_line" style="margin:0 auto 0px"> </div>
										<div class="column mcb-column mcb-item-0exioz6zt one-sixth column_placeholder">
											<div class="placeholder"> &nbsp; </div>
										</div>
										
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-bbv643y6j one-second scooterrental-wrap-radius3 valign-top clearfix" style="padding:120px 7% 70px;background-color:#f5f5f5;background-image:url({% static "web/images/scooterrental-wrap-bg1.png" %});background-repeat:no-repeat;background-position:right center">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-dttjrdsic two-third column_column">
											<div class="column_attr clearfix" style>
												<p> Whether a business person, or one of the farmers, the system owner and operator does the following:

<li>Obtain farmers as customers</li>

<li>collect payment from farmers</li>

<li>Operate the pump and assure energy cost when solar is not being used. </li>

<li>Pay royalties and financing of the system depening on the modalities of the system construct</li></p>
											</div>
										</div>
										<div class="column mcb-column mcb-item-p98pxyvig one column_divider">
											<hr class="no_line" style="margin:0 auto 25px"> </div>
										<div class="column mcb-column mcb-item-gth0m67rb two-third column_column">
											<div class="column_attr clearfix" style>
<p> We undertake the following responsibilties: 

<li>Provide data and evaluation of pump utilization and ensure financial sustainability of model</li>

<li>Provide irrigation system including 24 month warranty</li>

<li>Provide guidance, expertise and help</li>

<li>Provide training and fiscal accounting</li>
<li>Facilitate the establishment of new systems by mobilizing capital.</li>
</p>											</div>
										</div>
										<div class="column mcb-column mcb-item-walgr5100 one column_divider">
											<hr class="no_line" style="margin:0 auto 25px"> </div>
										<div class="column mcb-column mcb-item-3wp4lfdek two-third column_column">
											<div class="column_attr clearfix" style>
												<p> The farmers commit to using the system for their irrigation needs and this may mean switching to a higher value horticulture crop that will best take advantage of the reliability of water.</p>
											</div>
										</div>
										<div class="column mcb-column mcb-item-tdx6yemhz one column_divider">
											<hr class="no_line" style="margin:0 auto 25px"> </div>
										>
									</div>
								</div>
							</div>
						</div>
						
						
					</div>
				</div>
			</div>
		</div>
		<footer id="Footer" class="clearfix ">
			<div class="widgets_wrapper ">
				<div class="container">
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h6 style="color:#7d7d7d">MEET US</h6>
									<hr class="no_line" style="margin:0 auto 20px">
									<p> <a href="ijabo.html">How it works</a> </p>
									<p> <a href="service.html">Find a vehicle</a> </p>
									<p> <a href=".index.html#pricing">Pricing</a> </p>
									<p> <a href="about.html"> About us</a> </p>
									<p> <a href="contact.html">Contact</a> </p>
								</div>
							</div>
						</aside>
					</div>
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h3>Rent a scooter
										<br>
										<span class="themecolor">just like that!</span></h3>
									<hr class="no_line" style="margin:0 auto 20px">
									<a href="#"><img src="images/scooterrental-footer-btn1.png"></a>
									<a href="#"><img src="images/scooterrental-footer-btn2.png"></a>
									<hr class="no_line" style="margin:0 auto 20px">
									<p> <a href="contact.html">FIND OUT MORE <i class="icon-right-thin" style="color:#00d285"></i></a> </p>
									<hr class="no_line" style="margin:0 auto 80px"> <img src="images/scooterrental-footer-logo.png"> </div>
							</div>
						</aside>
					</div>
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h6 style="color:#7d7d7d">MORE INFO</h6>
									<hr class="no_line" style="margin:0 auto 20px">
									<p> <a href="#">News</a> </p>
									<p> <a href="#">FAQ</a> </p>
									<p> <a href="#">Work</a> </p>
									<p> <a href="#"> Franchise</a> </p>
									<p> <a href="#">Partners</a> </p>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>
			<div class="footer_copy">
				<div class="container">
					<div class="column one">
						<div class="copyright"> &copy; 2021 BeScooterRental - BeTheme. Muffin group - HTML by <a target="_blank" rel="nofollow" href="https://1.envato.market/9ZxXY">BeantownThemes</a> </div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<div id="Side_slide" class="right dark" data-width="250">
		<div class="close-wrapper"> <a href="#" class="close"><i class="icon-cancel-fine"></i></a> </div>
		<div class="menu_wrapper"></div>
		<div class="extras"> <a href="shop.html" class="action_button" target="_blank">BUY NOW</a>
			<div class="extras-wrapper"></div>
		</div>
	</div>
	<div id="body_overlay"></div>
	<!-- JS -->
	<script src="{% static "web/js/jquery-2.1.4.min.js" %}" ""></script>
	<script src="{% static "web/js/mfn.menu.js" %}" ""></script>
	<script src="{% static "web/js/jquery.plugins.js" %}" ""></script>
	<script src="{% static "web/js/jquery.jplayer.min.js" %}" ""></script>
	<script src="{% static "web/js/animations/animations.js" %}" ""></script>
	<script src="{% static "web/js/translate3d.js" %}" ""></script>
	<script src="{% static "web/js/scripts.js" %}" ""></script>
</body>

</html>
<!-- Localized -->