<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
{% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Water Access Rwanda</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Favicons -->
	<link rel="shortcut icon" href="{% static "web/images/favicon.ico"%}">
	<!-- FONTS -->
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Sora:100,200,300,400,400italic,500,600,700,700italic,900'>
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Poppins:100,200,300,400,400italic,500,600,700,700italic,900'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!-- CSS -->
	<link rel='stylesheet' href="{% static "web/css/global.css" %}">
	<link rel='stylesheet' href="{% static "web/css/structure.css" %}">
	<link rel='stylesheet' href="{% static "web/css/scooterrental.css"%}">
	<link rel='stylesheet' href="{% static "web/css/custom.css" %}"> </head>
	<style>
	.gothic{
		font-family:century-gothic
	}
	</style>

<body  class="page-template-default page color-custom style-simple button-custom layout-full-width if-zoom if-border-hide no-content-padding no-shadows header-classic sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-right menuo-no-borders footer-copy-center mobile-tb-hide mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-sticky ">
	<div id="Wrapper">
		<div id="Header_wrapper">
			<header id="Header">
				<div id="Top_bar">
					<div class="container">
						<div class="column one">
							<div class="top_bar_left clearfix">
								<div class="logo">
									<a id="logo" href="{% url 'index' %}" title="BeScooterRental - Betheme" data-height="60" data-padding="30"><img class="logo-main scale-with-grid" src="{% static "web/images/scooterrental.png" %}" data-retina="{% static "web/images/scooterrental.png" %}" data-height="50" alt="scooterrental" data-no-retina><img class="logo-sticky scale-with-grid" src="{% static "web/images/scooterrental.png" %}" data-retina="{% static "web/images/scooterrental.png" %}" data-height="50" alt="scooterrental" data-no-retina><img class="logo-mobile scale-with-grid" src="{% static "web/images/scooterrental.png"%}"  data-height="50" alt="scooterrental" data-no-retina><img class="logo-mobile-sticky scale-with-grid" src="{% static "web/images/scooterrental.png" %}"  data-height="50" alt="scooterrental" data-no-retina></a>
								</div>
								<div class="menu_wrapper">
									<nav id="menu">
										<ul id="menu-main-menu" class="menu menu-main" >
											<li class="  page_item "> <a href="{% url 'index' %}"><span>Home</span></a> </li>
											{% comment %} <li> <a href="{% url 'about' %}"><span>About us</span></a> </li> {% endcomment %}
											<li class="current-menu-item"> <a href="{% url 'rainwater' %}"><span>Rain Water</span></a> </li>
											<li> <a href="{% url 'blog' %}"><span>Blog</span></a> </li>
											<li> <a href="{% url 'contact_us' %}"><span>Contact</span></a> </li>
										</ul>
									</nav><a class="responsive-menu-toggle " href="#"><i class="icon-menu-fine"></i></a> </div>
							</div>
							<div class="top_bar_right">
								<div class="top_bar_right_wrapper"> <a href="{% url 'shopping' %}" class="action_button" >SHOP</a> </div>
							</div>
						</div>
					</div>
				</div>
			</header>
		</div>
		<div id="Content">
			<div class="content_wrapper clearfix">
				<div class="sections_group">
					<div class="entry-content">
						<div class="section mcb-section mcb-section-19e2801bd full-width" style="padding-left:5%;padding-right:5%">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-f71662337 one scooterrental-wrap-radius2 valign-top clearfix" style="padding:120px 10% 70px;background-color:#000;background-image:url(  {% static "web/images/scooterrental-section-bg1.png" %} );background-repeat:no-repeat;background-position:left center">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-a0e4df973 one-sixth column_placeholder">
											<div class="placeholder"> &nbsp; </div>
										</div>
										<div class="column mcb-column mcb-item-75ad2287a two-third column_column">
											<div class="column_attr clearfix align_center" style>
												<h6 style="color:#FFF;"><span style="font-size:18px;color:#009cde;margin-right:10px;">●</span>AMAZI</h6>
												<hr class="no_line" style="margin:0 auto 20px">
												<h1 style="color:#FFF;"><span class="themecolor">RainWater is safe water</span>
													</h1>
												<hr class="no_line" style="margin:0 auto 20px">
												<h5 style="color:#FFF;">Rain water is perfectly safe to consume. The only contamination happens as it falls on our roofs, collecting with it different contaminants. With our first flush diverter, often called a roof washer, you can preserve the safety of your rain water.
													</h5> </div>
										</div>
									</div>
								</div>
							</div>
						</div>

						


						<div class="section mcb-section mcb-section-9e98f0fdc equal-height-wrap" style="padding-top:10px;padding-bottom:20px">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-2a27884ed one-second valign-middle clearfix">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-7e0a6c322 one column_column column-margin-20px">
											<div class="column_attr clearfix" style>
												<h2><span class="themecolor">We</span> Can Stop Flooding</h2>
												<hr class="no_line" style="margin:0 auto 10px">
												<h5>Increased flooding threatens our city's safety and destroys our infrastructure. 
													Yet this can be easily prevented, if we all harvested some rain water. The more we harvest rainwater, 
													the less runoff there will be, thus reducing the chance of flash floods after heavy rains.</h5>
												<hr class="no_line" style="margin:0 auto 10px">
												
											</div>
										</div>
										<div class="column mcb-column mcb-item-48a34pell one column_divider">
											<hr class="no_line" style="margin:0 auto 40px"> </div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-0e4f0a448 one-second valign-middle clearfix" style="padding:0 5%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-b6e2ae677 one column_image">
											<div class="image_frame image_item no_link scale-with-grid no_border">
												<div class="image_wrapper"><img class="scale-with-grid" src="{% static "web/images/flood.webp" %}" alt="scooterrental-how-pic1" title width="780" height="1137"> </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						
						</div>

						<div class="section mcb-section mcb-section-9e98f0fdc equal-height-wrap" style="padding-top:10px;padding-bottom:10px">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-2a27884ed one-second valign-middle clearfix" >
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-7e0a6c322 one column_column column-margin-20px">
											<div class="column_attr clearfix" style>
												<h3><span class="themecolor">Current Issues with Rainwater Can Stop Flooding </span></h3>
												<hr class="no_line" style="margin:0 auto 10px">
												<h5>Currently, rain water in Rwanda has a bad reputation. This is mainly due to how rain water harvesting is currently done. Without proper installation, everything from the roof (including dust, bird poop, smog from cars) collects in the rain water tank. This leads to:</h5>
												<hr class="no_line" style="margin:0 auto 10px">
												
											</div>
										</div>
										<div class="column mcb-column mcb-item-48a34pell one column_divider">
											<hr class="no_line" style="margin:0 auto 40px"> </div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-0e4f0a448 one-second valign-middle clearfix" style="padding:0 5%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-b6e2ae677 one column_image">
										<h5>
										<li>bacteria contamination of the water.</li>
										<li>black-ish color to the water</li>
										<li>water that smells bad even after boiling</li>
										</h5>

										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="section mcb-section mcb-section-9e98f0fdc equal-height-wrap" style="padding-top:10px;padding-bottom:20px">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-2a27884ed one-second valign-middle clearfix">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-7e0a6c322 one column_column column-margin-20px">
											<div class="column_attr clearfix" style>
												<h2><span class="themecolor">The First Flush diverter</span></h2>
												<hr class="no_line" style="margin:0 auto 10px">
												<h5>Known as a roof washer, it flushes your roof by diverting the first
												 flow of dirty rainwater away from your tank. This keeps away the most 
												 contaminated water while your tank collects the higher quality rain water.
												  For Only RWF 80,000 you can get one.</h5>
												<hr class="no_line" style="margin:0 auto 10px">
												<div class="text-center">
												<a href="{% url 'shopping' %}">
												<button style="background-color:white;margin-left:40%;color:#009cde;border:1px solid #009cde">Buy Now</button>
												</a>
												</div>
												
											</div>
										</div>
										<div class="column mcb-column mcb-item-48a34pell one column_divider">
											<hr class="no_line" style="margin:0 auto 40px"> </div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-0e4f0a448 one-second valign-middle clearfix" style="padding:0 5%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-b6e2ae677 one column_image">
											<div class="image_frame image_item no_link scale-with-grid no_border">
												<div class="image_wrapper"><img class="scale-with-grid" src="{% static "web/images/tank.webp" %}" alt="scooterrental-how-pic1" title width="780" height="1137"> </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						
						</div>





						<div class="column_attr clearfix align_center" >
								<h2><span class="themecolor">
								Add A Full House Filter for</span> </h2>
								<br>
								<h2><span class="themecolor">
								Maximum Safety.</span> </h2>
								<br>
								<h5 class='gothic'>Complete the filter selection form and we will help you <br> choose the most appropriate for your family. </h5>
								<div class="text-center">
												<a href="https://formlink.mwater.co/#/6b5afb681e704eb8b8d070f517dcca85/7089548723194811b47695b5bceaaf35?branding=mwater" target="blank">
												<button style="background-color:white;color:#009cde;border:1px solid #009cde">Filter Selection Form</button>
												</a>
												</div>
						</div>




						<div class="section mcb-section mcb-section-9e98f0fdc equal-height-wrap" style="padding-top:10px;padding-bottom:20px">
							<div class="section_wrapper mcb-section-inner">
							<div class="wrap mcb-wrap mcb-wrap-0e4f0a448 one-second valign-middle clearfix" style="padding:0 5%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-b6e2ae677 one column_image">
											<div class="image_frame image_item no_link scale-with-grid no_border">
												<div class="image_wrapper"><img class="scale-with-grid" src="{% static "web/images/drink.webp" %}" alt="scooterrental-how-pic1" title width="780" height="1137"> </div>
											</div>
										</div>
									</div>
								</div>

								<div class="wrap mcb-wrap mcb-wrap-2a27884ed one-second valign-middle clearfix">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-7e0a6c322 one column_column column-margin-20px">
											<div class="column_attr clearfix" style>
												<h2><span class="themecolor">Safety, Comfortable and Impact<span></h2>
												<h4>With the full Amazi System:</h4>
												<h5>
												<li>your family enjoys clean safe water throughout the house.</li>
												<li>Your rain season water bill reduces (RAINWATER IS FREE WATER)</li>
												<li>You participate in protecting our environment.</li>
												</h5>
												<hr class="no_line" style="margin:0 auto 10px">
												
											</div>
										</div>
										<div class="column mcb-column mcb-item-48a34pell one column_divider">
											<hr class="no_line" style="margin:0 auto 40px"> </div>
									</div>
								</div>
							</div>
						
						</div>









						<div class="column_attr clearfix align_center" >
								<h2><span class="themecolor">
								BEFORE AND AFTER</span> </h2><br>
								<h5>we conducted a pilot to see what our system would achieve for our users. Here is what happened and what you can expect.</h5>
												<hr class="no_line" style="margin:0 auto 20px">
						</div>
						<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-zk9pzc9s5 one valign-top move-up clearfix" style="margin-top:--120px" data-mobile="no-up">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-qyuetn73g one-fourth column_quick_fact">
											<div class="quick_fact align_ animate-math">
											<div><i class="fa fa-ravelry fa-3x" style="color:#009cde"></i></div>
											<h4><span class="themecolor">Save Money</span> </h4>												
											<h5>ALL HOUSEHOLDS reduced their water bill by 58% One family went from RWF 25,000 to Just RWF 6,000!.</h5>
												<hr class="hr_narrow">
												<div class="desc"></div>
											</div>
										</div>
										<div class="column mcb-column mcb-item-z73733ieu one-fourth column_quick_fact">
											<div class="quick_fact align_ animate-math">
												<div><i class="fa fa-ravelry fa-3x" style="color:#009cde"></i></div>
											   <h4><span class="themecolor">Trust your water tap</span> </h4>
												<h5>Savings: 100% of all households were buying their drinking water, after our system 63% had switched to drinking from their taps.</h5>
												<hr class="hr_narrow">
												<div class="desc"></div>
											</div> 
										</div>
										<div class="column mcb-column mcb-item-5fltm4adk one-fourth column_quick_fact">
											<div class="quick_fact align_ animate-math">
												<div><i class="fa fa-ravelry fa-3x" style="color:#009cde"></i></div>
											   <h4><span class="themecolor">Safe and Clean for Drinking</span> </h4> </div>
												<h5>Before no one trusted drinking rainwater, this number increased to 87% drinking directly from their taps.</h5>
												<hr class="hr_narrow">
												<div class="desc"></div>
											</div>
										</div>
										<div class="column mcb-column mcb-item-hfbzurgtu one-fourth column_quick_fact">
											<div class="quick_fact align_ animate-math">
												<div><i class="fa fa-ravelry fa-3x" style="color:#009cde"></i></div>
											   <h4><span class="themecolor">Cooking Made Easy</span> </h4> </div>
												<h5>Only 33% of households trusted their water for cooking, this increased to 100% after the installation of our system.</h5>
												<hr class="hr_narrow">
												<div class="desc"></div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div style="margin-left:15%" >
							<iframe width="921" height="520" src="https://www.youtube.com/embed/dT-j7h6Ur-c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						
						
						
					</div>
				</div>
			</div>
		</div>
		<footer id="Footer" class="clearfix ">
			<div class="widgets_wrapper ">
				<div class="container">
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h6 style="color:#7d7d7d">QUICK LINKS</h6>
									<hr class="no_line" style="margin:0 auto 20px">
									{% comment %} <p> <a href="{% url 'about' %}"> About us</a> </p> {% endcomment %}
									<p> <a href="{% url 'service' %}">Service</a> </p>
									<p> <a href="{% url 'rainwater' %}">Rainwater</a> </p>
									<p> <a href="{% url 'login' %}">LOGIN</a> </p>
								</div>
							</div>
						</aside>
					</div>
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h3>Simple, Affordable and Reliable Access to
										<br>
										<span class="themecolor">Clean Safe Water</span></h3>
									<hr class="no_line" style="margin:0 auto 20px">
									<a href="#"><img src="{% static "web/images/scooterrental-footer-btn1.png" %}"></a>
									<a href="#"><img src="{% static "web/images/scooterrental-footer-btn2.png" %}"></a>
									<hr class="no_line" style="margin:0 auto 20px">
									<p> <a href="{% url 'contact_us' %}">CONTACT US <i class="icon-right-thin" style="color:#009cde"></i></a> </p>
									<hr class="no_line" style="margin:0 auto 80px"> </div>
							</div>
						</aside>
					</div>
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h6 style="color:#7d7d7d">MORE INFO</h6>
									<hr class="no_line" style="margin:0 auto 20px">
									<p> <a href="#">Inuma</a> </p>
									<p> <a href="#">Amazi</a> </p>
									<p> <a href="#">Uhira</a> </p>
									<p> <a href="#">Voma</a> </p>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>
			<div class="footer_copy">
				<div class="container">
					<div class="column one">
						<div class="copyright"> &copy; <script>document.write(new Date().getFullYear());</script> Water Access Rwanda </div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<div id="Side_slide" class="right dark" data-width="250">
		<div class="close-wrapper"> <a href="#" class="close"><i class="icon-cancel-fine"></i></a> </div>
		<div class="menu_wrapper"></div>
		<div class="extras"> <a href="{% url 'shopping' %}" class="action_button" target="_blank">SHOP</a>
			<div class="extras-wrapper"></div>
		</div>
	</div>
	<div id="body_overlay"></div>
	<!-- JS -->
	<script src="{% static "web/js/jquery-2.1.4.min.js" %}" ""></script>
	<script src="{% static "web/js/mfn.menu.js" %}" ""></script>
	<script src="{% static "web/js/jquery.plugins.js" %}" ""></script>
	<script src="{% static "web/js/jquery.jplayer.min.js" %}" ""></script>
	<script src="{% static "web/js/animations/animations.js" %}" ""></script>
	<script src="{% static "web/js/translate3d.js" %}" ""></script>
	<script src="{% static "web/js/scripts.js" %}" ""></script>
</body>

</html>
<!-- Localized -->
