<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
{% load static %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Amazi.rw</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Favicons -->
	<link rel="shortcut icon" href="{% static "web/images/favicon.ico"%}">
	<!-- FONTS -->
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Sora:100,200,300,400,400italic,500,600,700,700italic,900'>
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Poppins:100,200,300,400,400italic,500,600,700,700italic,900'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!-- CSS -->
	{% comment %} <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"> {% endcomment %}
	<link rel='stylesheet' href="{% static "web/css/global.css" %}">
	<link rel='stylesheet' href="{% static "web/css/structure.css" %}">
	<link rel='stylesheet' href="{% static "web/css/scooterrental.css" %}">
	<link rel='stylesheet' href="{% static "web/css/custom.css" %}">
	<!-- Revolution Slider -->
	<link rel="stylesheet" href="{% static "web/css/rs6.css" %}"> 	
	 <link rel='stylesheet' href="{% static "web/css/style-demo.css" %}">
	 <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
	 <style>
	 	#myVideo {
  {% comment %} position: fixed; {% endcomment %}
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.gothic{
		font-family:century-gothic;
		font-style: normal;
	}
.my_content {
  {% comment %} position: fixed; {% endcomment %}
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
	 </style>
	 </head>

<body class="home page-template-default page color-custom style-simple button-custom layout-full-width if-zoom if-border-hide no-content-padding no-shadows header-classic sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-right menuo-no-borders footer-copy-center mobile-tb-hide mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-sticky ">
	<div id="Wrapper">
		<div id="Header_wrapper">
			<header id="Header">
				<div id="Top_bar">
					<div class="container">
						<div class="column one">
							<div class="top_bar_left clearfix">
								<div class="logo">
									<a id="logo" href="{% url 'index' %}" ><img class="logo-main scale-with-grid" src="{% static "web/images/scooterrental.png" %}" data-retina="{% static "web/images/scooterrental.png" %}"  data-no-retina style="height:40px;width:150px;padding-bottom:25px;"><img class="logo-sticky scale-with-grid" src="{% static "web/images/scooterrental.png" %}" data-retina="{% static "web/images/scooterrental.png" %}" data-height="30" alt="scooterrental" data-no-retina><img class="logo-mobile scale-with-grid" src="{% static "web/images/scooterrental.png"%}"  data-height="30" alt="scooterrental" data-no-retina><img class="logo-mobile-sticky scale-with-grid" src="{% static "web/images/scooterrental.png" %}"  data-height="30" alt="scooterrental" data-no-retina></a>
								</div>
								<div class="menu_wrapper">
									<nav id="menu">
										<ul id="menu-main-menu" class="menu menu-main">
											<li class=" current-menu-item page_item gothic"> <a href="{% url 'index' %}"><span class="gothic">Home</span></a> </li>
											{% comment %} <li> <a href="{% url 'about' %}"><span>About us</span></a> </li> {% endcomment %}
											<li> <a href="{% url 'rainwater' %}"><span class="gothic">Rain Water</span></a> </li>
											<li> <a href="{% url 'blog' %}"><span class="gothic">Blog</span></a> </li>
											<li> <a href="{% url 'contact_us' %}"><span class="gothic">Contact</span></a> </li>
										</ul>
									</nav><a class="responsive-menu-toggle " href="#"><i class="fa fa-bars" ></i></a> </div>
							</div>
							<div class="top_bar_right">
								<div class="top_bar_right_wrapper"> <a href="{% url 'shopping' %}" class="action_button" >SHOP</a> </div>
							</div>
						</div>
					</div>
				</div>
			</header>
		</div>
		<div id="Content">
			<div class="content_wrapper clearfix">
				<div class="sections_group">
					<div class="entry-content">
						<div class="section mcb-section mcb-section-ofn1qf3lj full-width" style="padding-left:5%;padding-right:5%">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-8xzuvctmv one valign-top clearfix" >
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-284je0ofj one column_slider_plugin">
											<div class="mfn-main-slider mfn-rev-slider">

												<div class="wrap mcb-wrap mcb-wrap-2/3 one-second valign-top clearfix" style="padding:0 3%">
													<div style="height: 500px;width: 550px;background:black;border-top-left-radius:100px;border-top-right-radius:30px;border-bottom-right-radius:100px;border-bottom-left-radius:30px ;font-family:Poppins;color:white;text-align:center;font-size:40px;font-weight:bold;padding-top:100px" >
													<span class="gothic">Rain</span><span style="color:#00b4e3" class="gothic">Water</span>
														<br><br>
														is Safe  Water
														<br>
														<br>
														
														 <br>
														 <br>

													<div style="display:inline-block;height:48px;width:170px;margin-top:100px;background-image:url({% static 'web/images/scooterrental-slider-pic2.png' %})"></div>
													<div style="display:inline-block;height:48px;width:190px;margin-top:100px;background-image:url({% static 'web/images/scooterrental-slider-pic3.png' %})"></div>
													</div>
												</div>

												<div class="wrap mcb-wrap mcb-wrap-2/3 one-second valign-top clearfix" style="padding:0 3%">
													<div style='overflow:hidden'>
													<video autoplay muted loop style='width:1200px;height:600px; margin-left:-400px'>
														<source src="{% static 'web/images/video2.mp4' type='video/mp4'%}" >
													</video>
													
													</div>
												</div>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br><br>
						<div class="column_attr clearfix align_center" >
								<h2 style="margin-top:100px"><span class="themecolor gothic">
								BEFORE AND AFTER</span> </h2><br>
								<h5 class="gothic">we conducted a pilot to see what our system would achieve for our users.<br> Here is what happened and what you can expect.</h5>
												<hr class="no_line" style="margin:0 auto 20px">
						</div>
						<div class="section_wrapper mcb-section-inner" style="margin-top:30px">
								<div class="wrap mcb-wrap mcb-wrap-zk9pzc9s5 one valign-top move-up clearfix" style="margin-top:--120px" data-mobile="no-up">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-qyuetn73g one-fourth column_quick_fact">
											<div class="quick_fact align_ animate-math">
											<div><img class="scale-with-grid" src="{% static "web/images/money.png" %}" style="width:35px;height:35px"></div>
											<h4><b class="themecolor">Save Money</b> </h4>												
											<h5 class="gothic" style="text-align: center;">ALL HOUSEHOLDS reduced their water bill by 58% One family went from RWF 25,000 to Just RWF 6,000!.</h5>
												<hr class="hr_narrow">
												<div class="desc"></div>
											</div>
										</div>
										<div class="column mcb-column mcb-item-z73733ieu one-fourth column_quick_fact">
											<div class="quick_fact align_ animate-math">
												<div><img class="scale-with-grid" src="{% static "web/images/maledrink.png" %}" style="width:35px;height:35px"> </div>
											   <h4><b class="themecolor gothic" >Trust your water tap</b> </h4>
												<h5 class="gothic" style="text-align: center;">Savings: 100% of all households were buying their drinking water, after our system 63% had switched to drinking from their taps.</h5>
												<hr class="hr_narrow">
												<div class="desc"></div>
											</div> 
										</div>
										<div class="column mcb-column mcb-item-5fltm4adk one-fourth column_quick_fact">
											<div class="quick_fact align_ animate-math">
												<div><img class="scale-with-grid" src="{% static "web/images/glass.png" %}" style="width:35px;height:35px"> </div>
											   <h4><b class="themecolor gothic">Safe and Clean for Drinking</b> </h4> </div>
												<h5 class="gothic" style="text-align: center;">Before no one trusted drinking rainwater, this number increased to 87% drinking directly from their taps.</h5>
												<hr class="hr_narrow">
												<div class="desc"></div>
											</div>
										</div>
										<div class="column mcb-column mcb-item-hfbzurgtu one-fourth column_quick_fact">
											<div class="quick_fact align_ animate-math">
												<div><img class="scale-with-grid" src="{% static "web/images/cooking.png" %}" style="width:35px;height:35px"> </div>
											   <h4><b class="themecolor gothic">Cooking Made Easy</b> </h4> </div>
												<h5 class="gothic" style="text-align: center;">Only 33% of households trusted their water for cooking, this increased to 100% after the installation of our system.</h5>
												<hr class="hr_narrow">
												<div class="desc"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="column_attr clearfix align_center" >
								<h4><span class="themecolor gothic">Start saving today !</span> </h4>
								</div>
							</div>

						<div  id="pricing" style="padding-left:5%;padding-right:5%;margin-top:100px,height:100px,background:white">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-ye5cw8npp one scooterrental-wrap-radius valign-top clearfix" style="padding:100px 5% 10px;background-color:white">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-roiiteb21 one column_column">
											<div class="column_attr clearfix align_center" >
											<img class="scale-with-grid" src="{% static "web/images/guarantee.png" %}" style="width:50px;height:50px">
												<h3 style="color:#00b4e3;margin-top:25px ;" class="gothic">1-YEAR WARRANTY ON OUR SYSTEMS
													</h3>
												<hr class="no_line" style="margin:0 auto 20px">
												<h5 style="color:#1f1f1f;" class="gothic">6-months payment plans.</h5> 
												</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="section mcb-section mcb-section-bc6nf565c" >
							<div class="section_wrapper mcb-section-inner">
								
								<div class="wrap mcb-wrap mcb-wrap-50t7e6zdb one-third valign-top move-up clearfix" style="padding:0 2%;margin-top:-240px" data-mobile="no-up">
									
								</div>

						<div class="section mcb-section mcb-section-gzlmntrq6">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-jifsx5k4b one valign-top clearfix" >
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-u4dnk59a7 one-sixth column_placeholder">
											<div class="placeholder"> &nbsp; </div>
										</div>
										<div class="column mcb-column mcb-item-dxbdro427 two-third column_column">
											<div class="column_attr clearfix align_center" >
												<h2><span class="themecolor gothic">FAQs</span> </h2>
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-2/3 one-third valign-top clearfix" >
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-zyabt1q4n one column_icon_box">
											<div class="icon_box icon_position_top no_border">
												<div class="desc_wrapper" style="margin-right:30px">
													<h5 class="title">
													<b class="themecolor gothic">WHAT IS YOUR RETURN POLICY?</b> <br>
													<h5 class="gothic">All sales are final. But Note that our filtration and pump products come with a standard 1 year manufacture warranty.  We do remain at the client’s disposal to answer any questions and concern after sale beyond the warranty period.</h5></h5> </div>
											</div>
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-kdtqrc2sw one-third valign-top clearfix" >
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-7gg4rz0zd one column_icon_box">
											<div class="icon_box icon_position_top no_border">
												<div class="desc_wrapper" style="margin-right:30px">
													<h5 class="title gothic">
													<b class="themecolor gothic">DO YOU PROVIDE DELIVERY SERVICES FOR ALL PRODUCTS?</b><br>
														All our products can be delivered and professionally installed by our trained technicians. 
														Delivery within Kigali is available for a standard fee of RWF 2,000 per order. 
														Delivery outside of Kigali will be quoted on an as-need basis. 
														We are able to supply and install within Rwanda and East DRC in Bukavu and Goma.													</h5> </div>
											</div>
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-a6xpdx517 one-third valign-top clearfix" >
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-lutr7tatd one column_icon_box">
											<div class="icon_box icon_position_top no_border">
												<div class="desc_wrapper">
												<h5 class="title gothic">
													<b class="themecolor gothic">WHAT IF THE PRODUCT I ORDERED IS DEFECTIVE, INCORRECT OR DAMAGED?</b> <br>
													our filtration and pump products come with a standard 1 year manufacture warranty.  During this period, any defect will result in product replacement. 
													</h5> 
													</div></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		     <h2 class="themecolor gothic" style="text-align: center;padding-bottom:30px;">OUR PARTNER</h2>
		<div class="section mcb-section mcb-section-9e98f0fdc equal-height-wrap" style="padding-bottom:30px;padding-left:200px;">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-0e4f0a448 one-second valign-middle clearfix" >
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-b6e2ae677 one column_image">
											<div class="image_frame image_item no_link scale-with-grid no_border">
												<div class="image_wrapper"><img class="scale-with-grid" src="{% static "web/images/partner1.webp" %}" alt="scooterrental-how-pic1"  > </div>
											</div>
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-0e4f0a448 one-second valign-middle clearfix" style="padding-right:200px;">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-b6e2ae677 one column_image">
											<div class="image_frame image_item no_link scale-with-grid no_border">
												<div class="image_wrapper"><img class="scale-with-grid" src="{% static "web/images/partner2.webp" %}" alt="scooterrental-how-pic1" > </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						
			</div>

							<div class="section mcb-section mcb-section-9e98f0fdc equal-height-wrap" style="padding-top:10px;padding-bottom:20px">
							<div class="section_wrapper mcb-section-inner">
							<div class="wrap mcb-wrap mcb-wrap-0e4f0a448 one-second valign-middle clearfix" style="padding:0 5%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-b6e2ae677 one column_image">
											<div class="image_frame image_item no_link scale-with-grid no_border">
												<div class="image_wrapper"><img class="scale-with-grid" src="{% static "web/images/drink.webp" %}" alt="scooterrental-how-pic1" title width="780" height="1137"> </div>
											</div>
										</div>
									</div>
								</div>

								<div class="wrap mcb-wrap mcb-wrap-2a27884ed one-second valign-middle clearfix">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-7e0a6c322 one column_column column-margin-20px">
											<div class="column_attr clearfix" style>
												<h2><span class="themecolor gothic">Safety, Comfortable and Impact<span></h2>
												<h4 class="gothic">With the full Amazi System:</h4>
												<h5 class="gothic">
												<li style="list-style-type: none;"><i class="fa fa-arrow-circle-right"></i>&nbsp&nbsp&nbsp Your family enjoys clean safe water throughout the house.</li>
												<li style="list-style-type: none;"><i class="fa fa-arrow-circle-right"></i>&nbsp&nbsp&nbsp Your rain season water bill reduces (RAINWATER IS FREE WATER)</li>
												<li style="list-style-type: none;"><i class="fa fa-arrow-circle-right"></i>&nbsp&nbsp&nbsp You participate in protecting our environment.</li>
												</h5>
												<hr class="no_line" style="margin:0 auto 10px">
												
											</div>
										</div>
										<div class="column mcb-column mcb-item-48a34pell one column_divider">
											<hr class="no_line" style="margin:0 auto 40px"> </div>
									</div>
								</div>
							</div>
						
						</div>
						

		<footer id="Footer" class="clearfix ">
			<div class="widgets_wrapper ">
				<div class="container">
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h6 style="color:#7d7d7d" class="gothic">QUICK LINKS</h6>
									<hr class="no_line" style="margin:0 auto 20px">
									{% comment %} <p> <a href="{% url 'about' %}"> About us</a> </p> {% endcomment %}
									<p class="gothic"> <a href="https://www.warwanda.com/">Service</a> </p>
									<p class="gothic"> <a href="{% url 'rainwater' %}">Rainwater</a> </p>
									<p class="gothic"> <a href="{% url 'login' %}">LOGIN</a> </p>
								</div>
							</div>
						</aside>
					</div>
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h3 class="gothic">Rainwater is safe water
										<br>
									<hr class="no_line" style="margin:0 auto 20px">
									<a href="#"><img src="{% static "web/images/scooterrental-footer-btn1.png" %}"></a>
									<a href="#"><img src="{% static "web/images/scooterrental-footer-btn2.png" %}"></a>
									<hr class="no_line" style="margin:0 auto 20px">
									<p> <a href="{% url 'contact_us' %}" class="gothic">CONTACT US <i class="icon-right-thin" style="color:#00b4e3"></i></a> </p>
									<hr class="no_line" style="margin:0 auto 80px"> </div>
							</div>
						</aside>
					</div>
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h6 style="color:#7d7d7d" class="gothic">MORE INFO</h6>
									<hr class="no_line" style="margin:0 auto 20px">
									<p class="gothic"><a href="https://twitter.com/amazirw" style="margin-left:1px;"><i class="fa fa-twitter-square fa-2x"></i>&nbsp&nbsp&nbsp Twitter</a> </p>
									<p class="gothic"><a href="https://web.facebook.com/amazirw?_rdc=1&_rdr" style="margin-left:20px;"><i class="fa fa-facebook-official fa-2x"></i>&nbsp&nbsp&nbsp Facebook</a> </p>
									<p class="gothic"><a href="https://www.instagram.com/amazirw/" style="margin-left:20px;"><i class="fa fa-instagram fa-2x"></i>&nbsp&nbsp&nbsp Instagram</a> </p>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>
			<div class="footer_copy">
				<div>
					<div class="column one">
						<img class="logo-mobile-sticky scale-with-grid" src="{% static "web/images/scooterrental.png" %}"  data-height="50" alt="scooterrental" data-no-retina>					</div>
				</div>
			</div>
			<div class="footer_copy">
				<div class="container">
					<div class="column one">
						<div class="copyright"> &copy; <script>document.write(new Date().getFullYear());</script> Water Access Rwanda </div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<div id="Side_slide" class="right dark" data-width="250">
		<div class="close-wrapper"> <a href="#" class="close"><i class="icon-cancel-fine"></i></a> </div>
		<div class="menu_wrapper"></div>
		<div class="extras"> <a href="{% url 'shopping' %}" class="action_button" target="_blank">SHOP</a>
			<div class="extras-wrapper"></div>
		</div>
	</div>
	<div id="body_overlay"></div>
	<!-- JS -->
	<script src="{% static "web/js/jquery-2.1.4.min.js" %}"></script>
	<script src="{% static "web/js/mfn.menu.js" %}"></script>
	<script src="{% static "web/js/jquery.plugins.js" %}"></script>
	<script src="{% static "web/js/jquery.jplayer.min.js" %}"></script>
	<script src="{% static "web/js/animations/animations.js" %}"></script>
	<script src="{% static "web/js/translate3d.js" %}"></script>
	<script src="{% static "web/js/scripts.js" %}"></script>
	<script src="{% static "web/js/revolution.tools.min.js" %}"></script>
	<script src="{% static "web/js/rs6.min.js" %}"></script>
	<script>
	var revapi1, tpj;

	function revinit_revslider11() {
		jQuery(function() {
			tpj = jQuery;
			revapi1 = tpj("#rev_slider_1_1");
			if(revapi1 == undefined || revapi1.revolution == undefined) {
				revslider_showDoubleJqueryError("rev_slider_1_1");
			} else {
				revapi1.revolution({
					sliderType: "hero",
					visibilityLevels: "1240,1240,778,778",
					gridwidth: "1680,1680,778,778",
					gridheight: "850,850,900,900",
					spinner: "spinner8",
					perspective: 600,
					perspectiveType: "global",
					spinnerclr: "#00b4e3",
					editorheight: "850,768,900,720",
					responsiveLevels: "1240,1240,778,778",
					progressBar: {
						disableProgressBar: true
					},
					navigation: {
						onHoverStop: false
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid: true
					},
				});
			}
		});
	}
	var once_revslider11 = false;
	if(document.readyState === "loading") {
		document.addEventListener('readystatechange', function() {
			if((document.readyState === "interactive" || document.readyState === "complete") && !once_revslider11) {
				once_revslider11 = true;
				revinit_revslider11();
			}
		});
	} else {
		once_revslider11 = true;
		revinit_revslider11();
	}
	</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-52CM7KJK0K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-52CM7KJK0K');
</script>
<script src="//code.tidio.co/bmyxjou7rylkcfqe3n0tyu2rccz4cfmd.js" async></script>

	
</body>

</html>
<!-- Localized -->
