<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
{% load static %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Be</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Favicons -->
	<link rel="shortcut icon" href="{% static "web/images/favicon.ico" %}">
	<!-- FONTS -->
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Sora:100,200,300,400,400italic,500,600,700,700italic,900'>
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Poppins:100,200,300,400,400italic,500,600,700,700italic,900'>
	<!-- CSS -->
	<link rel='stylesheet' href="{% static " web/css/global.css" %}">
	<link rel='stylesheet' href="{% static " web/css/structure.css" %}">
	<link rel='stylesheet' href="{% static " web/css/scooterrental.css" %}">
	<link rel='stylesheet' href="{% static " web/css/custom.css" %}">
	<!-- Revolution Slider -->
	<link rel="stylesheet" href="{% static " web/css/rs6.css" %}"> 	
	 <link rel='stylesheet' href="{% static " web/css/style-demo.css" %}">
	 </head>

<body class="home page-template-default page color-custom style-simple button-custom layout-full-width if-zoom if-border-hide no-content-padding no-shadows header-classic sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-right menuo-no-borders footer-copy-center mobile-tb-hide mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-sticky ">
	<div id="Wrapper">
		<div id="Header_wrapper">
			<header id="Header">
				<div id="Top_bar">
					<div class="container">
						<div class="column one">
							<div class="top_bar_left clearfix">
								<div class="logo">
									<a id="logo" href="index.html" title="BeScooterRental - Betheme" data-height="60" data-padding="30"><img class="logo-main scale-with-grid" src="images/scooterrental.png" data-retina="images/retina-scooterrental.png" data-height="50" alt="scooterrental" data-no-retina><img class="logo-sticky scale-with-grid" src="images/scooterrental.png" data-retina="images/retina-scooterrental.png" data-height="50" alt="scooterrental" data-no-retina><img class="logo-mobile scale-with-grid" src="images/scooterrental.png" data-retina="images/retina-scooterrental.png" data-height="50" alt="scooterrental" data-no-retina><img class="logo-mobile-sticky scale-with-grid" src="images/scooterrental.png" data-retina="images/retina-scooterrental.png" data-height="50" alt="scooterrental" data-no-retina></a>
								</div>
								<div class="menu_wrapper">
									<nav id="menu">
										<ul id="menu-main-menu" class="menu menu-main">
											<li class=" current-menu-item page_item current_page_item"> <a href="index.html"><span>Home</span></a> </li>
											<li> <a href="about.html"><span>About us</span></a> </li>
											<li> <a href="service.html"><span>Service</span></a> </li>
											<li> <a href="ijabo.html"><span>Ijabo</span></a> </li>
											<li> <a href="blog.html"><span>Blog</span></a> </li>
											<li> <a href="contact.html"><span>Contact</span></a> </li>
										</ul>
									</nav><a class="responsive-menu-toggle " href="#"><i class="icon-menu-fine"></i></a> </div>
							</div>
							<div class="top_bar_right">
								<div class="top_bar_right_wrapper"> <a href="shop.html" class="action_button" >BUY NOW</a> </div>
							</div>
						</div>
					</div>
				</div>
			</header>
		</div>
		<div id="Content">
			<div class="content_wrapper clearfix">
				<div class="sections_group">
					<div class="entry-content">
						<div class="section mcb-section mcb-section-ofn1qf3lj full-width" style="padding-left:5%;padding-right:5%">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-8xzuvctmv one valign-top clearfix" >
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-284je0ofj one column_slider_plugin">
											<div class="mfn-main-slider mfn-rev-slider">
												<p class="rs-p-wp-fix"></p>
												<rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery" style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
													<rs-module id="rev_slider_1_1"data-version="6.2.22">
														<rs-slides>
															<rs-slide data-key="rs-1" data-title="Slide" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;"> <img src="wp-content/plugins/revslider/public/assets/assets/transparent.png" alt="Slide" title="Home" class="rev-slidebg" data-no-retina>
																<rs-layer id="slider-1-slide-1-layer-0" data-type="shape" data-rsp_ch="on" data-text="w:normal;s:20,20,9,9;l:0,0,11,11;" data-dim="w:730px,730px,100%,100%;h:750px,750px,450px,450px;" data-basealign="slide" data-border="bor:70px,30px,70px,30px;" data-frame_0="x:50,50,22,22;" data-frame_1="st:100;sp:1000;sR:100;" data-frame_999="o:0;st:w;sR:7900;" style="z-index:9;background-color:#000;">
																	<rs-bg-elem style="background: url('images/scooterrental-slider-bg1.png') no-repeat left top; background-size: contain;"></rs-bg-elem>
																</rs-layer>
																<rs-layer id="slider-1-slide-1-layer-1" data-type="text" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:120px,120px,0,120px;yo:151px,151px,109px,109px;" data-text="w:normal;s:50,50,42,42;l:66,66,50,50;fw:600;a:left,left,center,center;" data-dim="w:550px,550px,500px,500px;" data-basealign="slide" data-frame_0="y:50,50,22,22;" data-frame_1="st:400;sp:900;sR:400;" data-frame_999="o:0;st:w;sR:7700;" style="z-index:14;font-family:Poppins;"> Clean Safe<span style="color: #00d285;">Water</span><br>Simple, Affordable and Reliable Access </rs-layer>
																<rs-layer id="slider-1-slide-1-layer-2" data-type="shape" data-rsp_ch="on" data-xy="x:r;yo:0,0,450px,450px;" data-text="w:normal;s:20,20,9,9;l:0,0,11,11;" data-dim="w:80%,80%,100%,100%;h:750px,750px,450px,450px;" data-basealign="slide" data-border="bor:30px,30px,30px,30px;" data-frame_1="e:power4.inOut;sp:1500;" data-frame_999="o:0;st:w;sR:7500;" style="z-index:8;">
																	<rs-bg-elem style="background: url('images/scooterrental-slider-bg2.jpg') no-repeat center center; background-size: cover;"></rs-bg-elem>
																</rs-layer>
																<rs-layer id="slider-1-slide-1-layer-4" data-type="image" data-rsp_ch="on" data-xy="x:c;xo:440px,440px,203px,203px;y:b;" data-text="w:normal;s:20,20,9,9;l:0,0,11,11;" data-dim="w:308px,308px,142px,142px;h:577px,577px,266px,266px;" data-vbility="t,t,f,t" data-frame_0="rY:360deg;" data-frame_1="e:back.out;st:350;sp:500;sR:350;" data-frame_999="o:0;st:w;sR:8150;" style="z-index:10;"><img src="images/scooterrental-slider-pic1.png" width="308" height="577" data-no-retina> </rs-layer>
																<a id="slider-1-slide-1-layer-5" class="rs-layer" href="#" target="_self" rel="nofollow" data-type="image" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:120px,120px,-95px,-95px;yo:550px,550px,304px,304px;" data-text="w:normal;s:20,20,9,9;l:0,0,11,11;" data-dim="w:['170px','170px','170px','170px'];h:['48px','48px','48px','48px'];" data-basealign="slide" data-frame_0="y:50,50,22,22;" data-frame_1="st:500;sp:900;sR:500;" data-frame_999="o:0;st:w;sR:7600;" style="z-index:16;"><img src="images/scooterrental-slider-pic2.png" width="170" height="48" data-no-retina> </a>
																<a id="slider-1-slide-1-layer-7" class="rs-layer" href="#" target="_self" rel="nofollow" data-type="image" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:314px,314px,95px,95px;yo:550px,550px,304px,304px;" data-text="w:normal;s:20,20,9,9;l:0,0,11,11;" data-dim="w:['190px','190px','190px','190px'];h:['48px','48px','48px','48px'];" data-basealign="slide" data-frame_0="y:50,50,22,22;" data-frame_1="st:550;sp:900;sR:550;" data-frame_999="o:0;st:w;sR:7550;" style="z-index:17;"><img src="images/scooterrental-slider-pic3.png" width="190" height="48" data-no-retina> </a>
																<rs-layer id="slider-1-slide-1-layer-8" data-type="shape" data-bsh="c:rgba(0,0,0,0.3);v:10px,10px,4px,4px;b:30px,30px,13px,13px;" data-rsp_ch="on" data-xy="x:c;xo:582px,582px,268px,268px;y:m;yo:-152px,-152px,-69px,-69px;" data-text="w:normal;s:20,20,9,9;l:0,0,11,11;" data-dim="w:125px,125px,57px,57px;h:125px,125px,57px,57px;" data-vbility="t,t,f,t" data-border="bor:20px,20px,20px,20px;" data-frame_0="sX:0.8;sY:0.8;" data-frame_1="e:power4.out;st:400;sp:900;sR:400;" data-frame_999="o:0;st:w;sR:7700;" style="z-index:11;background-color:#f5f5f5;"></rs-layer>
																<rs-layer id="slider-1-slide-1-layer-9" data-type="text" data-color="#00d285" data-rsp_ch="on" data-xy="xo:1389px,1389px,642px,642px;yo:290px,290px,133px,133px;" data-text="w:normal;s:15,15,6,6;l:20,20,9,9;fw:600;a:center;" data-vbility="t,t,f,t" data-frame_1="st:550;sp:900;sR:550;" data-frame_999="o:0;st:w;sR:7550;" style="z-index:13;font-family:Poppins;"> <i class="fa-star"></i><i class="fa-star"></i><i class="fa-star"></i><i class="fa-star"></i><i class="fa-star"></i> </rs-layer>
																<rs-layer id="slider-1-slide-1-layer-10" data-type="text" data-color="#000000" data-rsp_ch="on" data-xy="xo:1387px,1387px,642px,642px;yo:239px,239px,110px,110px;" data-text="w:normal;s:15,15,6,6;l:20,20,9,9;ls:1px,1px,0px,0px;fw:600;a:center;" data-vbility="t,t,f,t" data-frame_1="st:500;sp:900;sR:500;" data-frame_999="o:0;st:w;sR:7600;" style="z-index:12;font-family:Poppins;"> <span style="color: #00d285;">4.6 STAR</span>
																	<br> RATING </rs-layer>
															</rs-slide>
														</rs-slides>
													</rs-module>
												</rs-module-wrap>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
<div class="section mcb-section mcb-section-1lyu1tcvv full-width" id="pricing" style="padding-left:5%;padding-right:5%">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-ye5cw8npp one scooterrental-wrap-radius valign-top clearfix" style="padding:100px 5% 190px;background-color:#00d285">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-roiiteb21 one column_column">
											<div class="column_attr clearfix align_center" >
												<h2 style="color:#FFF;">Our Work.
													</h2>
												<hr class="no_line" style="margin:0 auto 20px">
												<h5>affordable, reliable and always safe.
													</h5> </div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="section mcb-section mcb-section-bc6nf565c" style="padding-top:120px;padding-bottom:80px">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-htmob3kwf one-third valign-top move-up clearfix" style="padding:0 2%;margin-top:-240px" data-mobile="no-up">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-50pxgfkcx one column_column">
											<div class="column_attr clearfix align_center" style="background-color:#fff;padding:40px 10%;border-radius: 20px; box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);">
												<h2 class="themecolor">AMAZI</h2>
												<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
													<div class="image_wrapper"><img class="scale-with-grid" src="images/scooterrental-home-icon9.png" alt="scooterrental-home-icon9" title width="96" height="96"> </div>
												</div>
												<hr class="no_line" style="margin:0 auto 40px">
												<hr class="no_line" style="margin:0 auto 15px">
												<p style="color:#8e9aac;"> To ensure all taps provide safe water and encourage rainwater harvesting,  Amazi provides first flush diverter systems and point of entry filtration systems. With this solution, households, schools, clinics can save on their water bill in the rainy season while reducing the amount of run-off water that would otherwise cause flooding. </p>
												<hr class="no_line" style="margin:0 auto 10px">
												<hr class="no_line" style="margin:0 auto 10px"> <a class="button button_size_2 button_theme" href="service.html"><span class="button_label">Read More</span></a> </div>
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-50t7e6zdb one-third valign-top move-up clearfix" style="padding:0 2%;margin-top:-240px" data-mobile="no-up">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-efwxbgyz3 one column_column">
											<div class="column_attr clearfix align_center" style="background-color:#fff;padding:40px 10%;border-radius: 20px; box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);">
												<h2 class="themecolor">INUMA</h2>
												<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
													<div class="image_wrapper"><img class="scale-with-grid" src="images/scooterrental-home-icon11.png" alt="scooterrental-home-icon11" title width="96" height="96"> </div>
												</div>
												<hr class="no_line" style="margin:0 auto 40px">
												<hr class="no_line" style="margin:0 auto 15px">
												<p style="color:#8e9aac;"> INUMA creates a borehole-fed micro-grid piped safe water network where purified safe water is available at public points and piped into households for private access. All water is purified through a treatment process, pumped using solar and AC and sold via pre-paid water meters activated through a token.<BR><br> </p>
												<hr class="no_line" style="margin:0 auto 10px">
												<hr class="no_line" style="margin:0 auto 10px"> <a class="button button_size_2 button_theme" href="service.html"><span class="button_label">Read More</span></a> </div>
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-4jmffeduz one-third valign-top move-up clearfix" style="padding:0 2%;margin-top:-240px" data-mobile="no-up">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-ego53sd56 one column_column">
											<div class="column_attr clearfix align_center" style="background-color:#fff;padding:40px 10%;border-radius: 20px; box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);">
												<h2 class="themecolor">UHIRA</h2>
												<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
													<div class="image_wrapper"><img class="scale-with-grid" src="images/scooterrental-home-icon10.png" alt="scooterrental-home-icon10" title width="96" height="96"> </div>
												</div>
												<hr class="no_line" style="margin:0 auto 40px">
												<hr class="no_line" style="margin:0 auto 15px">
												<p style="color:#8e9aac;"> Targeted at farmers and off-grid businesses, uhira includes a borehole, a hybrid pump, a pipeline, elevated storage system and an optional cattle trough or tap system from the tank.<br>
Our systems allow for reliable access to safe water anywhere, even when living far from surface water.

														Our team accompanies you from survey to maintenance.  </p>
												<hr class="no_line" style="margin:0 auto 10px">
												
												<hr class="no_line" style="margin:0 auto 10px"> <a class="button button_size_2 button_theme" href="service.html"><span class="button_label">Read More</span></a> </div>
										</div>
									</div>
								</div>
							</div>
						</div>

<div class="section mcb-section mcb-section-j86v4pr9v equal-height-wrap" style="padding-bottom:80px">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-63op8ggq1 one-second valign-middle bg-cover clearfix" >
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-e5wsltbix one column_image">
											<div class="image_frame image_item no_link scale-with-grid no_border">
												<div class="image_wrapper"><img class="scale-with-grid" src="images/scooterrental-home-pic1.jpg" alt="scooterrental-home-pic1" title width="780" height="761"> </div>
											</div>
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-iwmqovrrv one-second valign-top clearfix" style="padding:0 0 0 5%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-cm3u5yafs one column_column column-margin-20px">
											<div class="column_attr clearfix" ><br><br>
												<h6><span style="font-size:18px;color:#00d285;margin-right:10px;">●</span>Water Access Rwanda</h6>
												<hr class="no_line" style="margin:0 auto 10px">
												<h2><span style="color:#00d285;">About Us</span></h2>
												<hr class="no_line" style="margin:0 auto 10px">
												<h5>We are a social enterprise committed to increasing access to clean and safe water for all people starting in Rwanda. Through a set of unique solutions designed for households, communities, private businesses and farms; we make sure your water is affordable, reliable and always safe.</h5>
												<hr class="no_line" style="margin:0 auto 10px">
											</div>
										</div>
										<div class="column mcb-column mcb-item-z22mf0xsu one column_button"> <a class="button button_size_2 button_theme" href="service.html"><span class="button_label">Read More</h6></span></a> </div>
									</div>
								</div>
							</div>
						</div>

						<div class="section mcb-section mcb-section-gzlmntrq6" style="padding-top:120px;padding-bottom:80px">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-jifsx5k4b one valign-top clearfix" >
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-u4dnk59a7 one-sixth column_placeholder">
											<div class="placeholder"> &nbsp; </div>
										</div>
										<div class="column mcb-column mcb-item-dxbdro427 two-third column_column">
											<div class="column_attr clearfix align_center" >
												<h2><span class="themecolor">What Our Clients Say</span> </h2>
												<hr class="no_line" style="margin:0 auto 20px">
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-2/3 one-fourth valign-top clearfix" style="padding:0 3%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-zyabt1q4n one column_icon_box">
											<div class="icon_box icon_position_top no_border">
												<div class="image_wrapper"><img src="images/scooterrental-home-icon1.png" class="scale-with-grid"> </div>
												<div class="desc_wrapper">
													<h5 class="title">
													<b>Hadidja Mukabaranga</b>
INUMA-Household Connected<br><br>
Having INUMA in my house means

I can now clean the house and do laundry anytime I want. Before It was so complicated to find water, I would be angry with people who dirtied my floor and would watch the water I had. We used to wake up at 3 am to give our jerricans to a water collector we paid a lot of money to. </h5> </div>
											</div>
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-kdtqrc2sw one-fourth valign-top clearfix" style="padding:0 3%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-7gg4rz0zd one column_icon_box">
											<div class="icon_box icon_position_top no_border">
												<div class="image_wrapper"><img src="images/scooterrental-home-icon2.png" class="scale-with-grid"> </div>
												<div class="desc_wrapper">
													<h5 class="title">
													<b>Andre Ndejuru</b><br>
WAR-Board member<br><br>
We had 10 cows but the milk production was so low that its returns was not enough to pay for its upkeep. The cow consumption estimate of water is 50 liters and in zero grazing conditions, the labor force needed to fetch water was too important to allow any self-sustain exploitation.
</h5> </div>
											</div>
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-a6xpdx517 one-fourth valign-top clearfix" style="padding:0 3%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-lutr7tatd one column_icon_box">
											<div class="icon_box icon_position_top no_border">
												<div class="image_wrapper"><img src="images/scooterrental-home-icon3.png" class="scale-with-grid"> </div>
												<div class="desc_wrapper">
<h5 class="title">
													<b>Wendy Davenport</b>
Philanthropist<br><br>
Having INUMA in my house means

I can now clean the house and do laundry anytime I want. Before It was so complicated to find water, I would be angry with people who dirtied my floor and would watch the water I had. We used to wake up at 3 am to give our jerricans to a water collector we paid a lot of money to. </h5> </div>											</div>
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-0k27uw2w9 one-fourth valign-top clearfix" style="padding:0 3%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-gvoedx7yd one column_icon_box">
											<div class="icon_box icon_position_top no_border">
												<div class="image_wrapper"><img src="images/scooterrental-home-icon4.png" class="scale-with-grid"> </div>
												<div class="desc_wrapper">
<h5 class="title">
													<b>Hadidja Mukabaranga</b>
INUMA-Household Connected<br><br>
It was smooth getting our last filter. I simply texted and told the time I'd come by, and it was ready for me. I appreciate Water Access Rwanda because of their product and what it means to families in desperate situations and need clean water. </h5> </div></div>
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-3eqq56k2o one valign-top clearfix" >
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-3tpqqrqrq one-third column_placeholder">
											<div class="placeholder"> &nbsp; </div>
										</div>
										
									</div>
								</div>
							</div>
						</div>




						


						
						<div class="section mcb-section mcb-section-mw05wkzen equal-height-wrap" style="padding-top:120px;padding-bottom:80px">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-6w8qkykkk one-second valign-middle clearfix" style="padding:0 5% 0 0 ">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-kkjbgllmo one column_column column-margin-20px">
											<div class="column_attr clearfix" >
												<h6><span style="font-size:18px;color:#00d285;margin-right:10px;">●</span>affordable, reliable and always safe</h6>
												<hr class="no_line" style="margin:0 auto 10px">
												<h2><span style="color:#00d285;">Why Choose Water Access Rwanda?</span> </h2>
												<hr class="no_line" style="margin:0 auto 10px">
												</div>
										</div>
										<div class="column mcb-column mcb-item-rdxp6j57i one column_column">
											<div class="column_attr clearfix" style="background-image:url('images/scooterrental-home-icon5.png');background-repeat:no-repeat;background-position:left center;padding:15px 0 0 80px;">
												<h5 style="color:#8e9aac;"><b style="color:black">Great Low Prices</b> - Competitive pricing on
all our services. We charge less than half our competitors' prices</h5> </div>
										</div>

										<div class="column mcb-column mcb-item-rdxp6j57i one column_column">
											<div class="column_attr clearfix" style="background-image:url('images/scooterrental-home-icon5.png');background-repeat:no-repeat;background-position:left center;padding:15px 0 0 80px;">
												<h5 style="color:#8e9aac;"><b style="color:black">Quality</b> – Our services and products are of the highest quality and done with durability in mind. </h5> </div>
										</div>

										<div class="column mcb-column mcb-item-rdxp6j57i one column_column">
											<div class="column_attr clearfix" style="background-image:url('images/scooterrental-home-icon5.png');background-repeat:no-repeat;background-position:left center;padding:15px 0 0 80px;">
												<h5 style="color:#8e9aac;"><b style="color:black">Committed Staff</b> - Our staff is highly trained and committed to eradicating water scarcity in Rwanda.</h5> </div>
										</div>

										<div class="column mcb-column mcb-item-rdxp6j57i one column_column">
											<div class="column_attr clearfix" style="background-image:url('images/scooterrental-home-icon5.png');background-repeat:no-repeat;background-position:left center;padding:15px 0 0 80px;">
												<h5 style="color:#8e9aac;"><b style="color:black">Support the Local Market</b> - At WARwanda, the majority of our supplies are obtained locally and local laborers make more than 90% our staff. Working with us, supports the local economy and provides jobs to young people.</h5> </div>
										</div>
										

										<div class="column mcb-column mcb-item-0dm9rimjw one column_button"> <a class="button button_size_2 button_theme" href="service.html"><span class="button_label">SEE ALL VEHICLES</span></a> </div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-fexelc2ru one-second valign-middle clearfix" style="padding:0 5%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-x7vvd5ghc one column_image">
											<div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
												<div class="image_wrapper"><img class="scale-with-grid" src="images/scooterrental-home-pic2.jpg" alt="scooterrental-home-pic2" title width="780" height="1125"> </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						
					</div>
					
				</div>
			</div>
		</div>






		<div class="section mcb-section mcb-section-y5uui31hg" style="padding-top:120px;padding-bottom:250px">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-zk9pzc9s5 one valign-top move-up clearfix" style="margin-top:--120px" data-mobile="no-up">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-qyuetn73g one-fourth column_quick_fact">
											<div class="quick_fact align_ animate-math">
												<div class="number-wrapper"> <span class="number" data-to="110">110</span> </div>
												<h3 class="title">Boreholes drilled and rehabilitated by our drilling teams.</h3>
												<hr class="hr_narrow">
												<div class="desc"></div>
											</div>
										</div>
										<div class="column mcb-column mcb-item-z73733ieu one-fourth column_quick_fact">
											<div class="quick_fact align_ animate-math">
												<div class="number-wrapper"> <span style="font-size:80px">77M<span style="font-size:40px">ltr</span> </span> </div><br>
												<h3 class="title">Over 70 million litres of perfectly safe water sold at a super cheap price!</h3>
												<hr class="hr_narrow">
												<div class="desc"></div>
											</div> 
										</div>
										<div class="column mcb-column mcb-item-5fltm4adk one-fourth column_quick_fact">
											<div class="quick_fact align_ animate-math">
												<div class="number-wrapper"> <span class="label prefix">+</span><span class="number" data-to="284">284</span> </div>
												<h3 class="title">Managed safe water points across East Africa</h3>
												<hr class="hr_narrow">
												<div class="desc"></div>
											</div>
										</div>
										<div class="column mcb-column mcb-item-hfbzurgtu one-fourth column_quick_fact">
											<div class="quick_fact align_ animate-math">
												<div class="number-wrapper"> <span class="number" data-to="10">10</span> </div>
												<h3 class="title">Farm irrigation systems: Uhira.</h3>
												<hr class="hr_narrow">
												<div class="desc"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>




		<footer id="Footer" class="clearfix ">
			<div class="widgets_wrapper ">
				<div class="container">
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h6 style="color:#7d7d7d">MEET US</h6>
									<hr class="no_line" style="margin:0 auto 20px">
									<p> <a href="ijabo.html">How it works</a> </p>
									<p> <a href="service.html">Find a vehicle</a> </p>
									<p> <a href="index.html#pricing">Pricing</a> </p>
									<p> <a href="about.html"> About us</a> </p>
									<p> <a href="contact.html">Contact</a> </p>
								</div>
							</div>
						</aside>
					</div>
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h3>Rent a scooter
										<br>
										<span class="themecolor">just like that!</span></h3>
									<hr class="no_line" style="margin:0 auto 20px">
									<a href="#"><img src="images/scooterrental-footer-btn1.png"></a>
									<a href="#"><img src="images/scooterrental-footer-btn2.png"></a>
									<hr class="no_line" style="margin:0 auto 20px">
									<p> <a href="contact.html">FIND OUT MORE <i class="icon-right-thin" style="color:#00d285"></i></a> </p>
									<hr class="no_line" style="margin:0 auto 80px"> <img src="images/scooterrental.png"> </div>
							</div>
						</aside>
					</div>
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h6 style="color:#7d7d7d">MORE INFO</h6>
									<hr class="no_line" style="margin:0 auto 20px">
									<p> <a href="#">News</a> </p>
									<p> <a href="#">FAQ</a> </p>
									<p> <a href="#">Work</a> </p>
									<p> <a href="#"> Franchise</a> </p>
									<p> <a href="#">Partners</a> </p>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>
			<div class="footer_copy">
				<div class="container">
					<div class="column one">
						<div class="copyright"> &copy; 2021 BeScooterRental - BeTheme. Muffin group - HTML by <a  rel="nofollow" href="https://1.envato.market/9ZxXY">BeantownThemes</a> </div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<div id="Side_slide" class="right dark" data-width="250">
		<div class="close-wrapper"> <a href="#" class="close"><i class="icon-cancel-fine"></i></a> </div>
		<div class="menu_wrapper"></div>
		<div class="extras"> <a href="https://1.envato.market/9ZxXY" class="action_button" target="_blank">BUY NOW</a>
			<div class="extras-wrapper"></div>
		</div>
	</div>
	<div id="body_overlay"></div>
	<!-- JS -->
	<script src="{% static " web/js/jquery-2.1.4.min.js" %}"></script>
	<script src="{% static " web/js/mfn.menu.js" %}"></script>
	<script src="{% static " web/js/jquery.plugins.js" %}"></script>
	<script src="{% static " web/js/jquery.jplayer.min.js" %}"></script>
	<script src="{% static " web/js/animations/animations.js" %}"></script>
	<script src="{% static " web/js/translate3d.js" %}"></script>
	<script src="{% static " web/js/scripts.js" %}"></script>
	<script src="{% static " web/js/revolution.tools.min.js" %}"></script>
	<script src="{% static " web/js/rs6.min.js" %}"></script>
	<script>
	var revapi1, tpj;

	function revinit_revslider11() {
		jQuery(function() {
			tpj = jQuery;
			revapi1 = tpj("#rev_slider_1_1");
			if(revapi1 == undefined || revapi1.revolution == undefined) {
				revslider_showDoubleJqueryError("rev_slider_1_1");
			} else {
				revapi1.revolution({
					sliderType: "hero",
					visibilityLevels: "1240,1240,778,778",
					gridwidth: "1680,1680,778,778",
					gridheight: "850,850,900,900",
					spinner: "spinner8",
					perspective: 600,
					perspectiveType: "global",
					spinnerclr: "#00d285",
					editorheight: "850,768,900,720",
					responsiveLevels: "1240,1240,778,778",
					progressBar: {
						disableProgressBar: true
					},
					navigation: {
						onHoverStop: false
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid: true
					},
				});
			}
		});
	}
	var once_revslider11 = false;
	if(document.readyState === "loading") {
		document.addEventListener('readystatechange', function() {
			if((document.readyState === "interactive" || document.readyState === "complete") && !once_revslider11) {
				once_revslider11 = true;
				revinit_revslider11();
			}
		});
	} else {
		once_revslider11 = true;
		revinit_revslider11();
	}
	</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-52CM7KJK0K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-52CM7KJK0K');
</script>

	
</body>

</html>
<!-- Localized -->