<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
{% load static %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Water Access Rwanda</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Favicons -->
	<link rel="shortcut icon" href="{% static "web/images/favicon.ico" %}">
	<!-- FONTS -->
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Sora:100,200,300,400,400italic,500,600,700,700italic,900'>
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Poppins:100,200,300,400,400italic,500,600,700,700italic,900'>
	<!-- CSS -->
	<link rel='stylesheet' href="{% static "web/css/global.css" %}">
	<link rel='stylesheet' href="{% static "web/css/structure.css" %}">
	<link rel='stylesheet' href="{% static "web/css/scooterrental.css" %}">
	<link rel='stylesheet' href="{% static "web/css/custom.css" %}">
	</head>

<body class="page-template-default page color-custom style-simple button-custom layout-full-width if-zoom if-border-hide no-content-padding no-shadows header-classic sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-right menuo-no-borders footer-copy-center mobile-tb-hide mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-sticky ">
	<div id="Wrapper">
		<div id="Header_wrapper">
			<header id="Header">
				<div id="Top_bar">
					<div class="container">
						<div class="column one">
							<div class="top_bar_left clearfix">
								<div class="logo">
									<a id="logo" href="{% url 'index' %}" title="BeScooterRental - Betheme" data-height="60" data-padding="30"><img class="logo-main scale-with-grid" src="{% static "web/images/scooterrental.png" %}" data-retina="{% static "web/images/retina-scooterrental.png" %}" data-height="50" alt="scooterrental" data-no-retina><img class="logo-sticky scale-with-grid" src="{% static "web/images/scooterrental.png" %}" data-retina="{% static "web/images/retina-scooterrental.png" %}" data-height="50" alt="scooterrental" data-no-retina><img class="logo-mobile scale-with-grid" src="{% static "web/images/scooterrental.png"%}"  data-height="50" alt="scooterrental" data-no-retina><img class="logo-mobile-sticky scale-with-grid" src="{% static "web/images/scooterrental.png" %}"  data-height="50" alt="scooterrental" data-no-retina></a>
								</div>
								<div class="menu_wrapper">
									<nav id="menu">
										<ul id="menu-main-menu" class="menu menu-main">
											<li class="page_item"> <a href="{% url 'index' %}"><span>Home</span></a> </li>
											{% comment %} <li><a href="{% url 'about' %}"><span>About us</span></a> </li> {% endcomment %}
											<li> <a href="{% url 'rainwater' %}"><span>Rain Water</span></a> </li>
											<li> <a href="{% url 'blog' %}"><span>Blog</span></a> </li>
											<li> <a href="{% url 'contact_us' %}"><span>Contact</span></a> </li>
										</ul>
									</nav><a class="responsive-menu-toggle " href="#"><i class="fa fa-bars" ></i></a> </div>
							</div>
							<div class="top_bar_right">
								<div class="top_bar_right_wrapper"> <a href="{% url 'shopping' %}" class="action_button" >SHOP</a> </div>
							</div>
						</div>
					</div>
				</div>
			</header>
		</div>
		<div id="Content">
			<div class="content_wrapper clearfix">
				<div class="sections_group">
					<div class="entry-content">
						<div class="section mcb-section mcb-section-a9dac33a5 full-width" style="padding-left:5%;padding-right:5%">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-91a57b284 one scooterrental-wrap-radius2 valign-top clearfix" style="padding:120px 10% 70px;background-color:#000;background-image:url({% static "web/images/scooterrental-section-bg1.png" %});background-repeat:no-repeat;background-position:left center">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-1a3f3172a one-sixth column_placeholder">
											<div class="placeholder"> &nbsp; </div>
										</div>
										<div class="column mcb-column mcb-item-3090ddce3 two-third column_column">
											<div class="column_attr clearfix align_center" style>
												<h6 style="color:#FFF;"><span style="font-size:18px;color:#00b4e3;margin-right:10px;">●</span>Service</h6>
												<hr class="no_line" style="margin:0 auto 20px">
												<h1 style="color:#FFF;">See what <span class="themecolor">Service</span> we have to offer</h1>
												<hr class="no_line" style="margin:0 auto 20px">
												<h5 style="color:#FFF;">The company deploys innovative and next-level services and systems to provide
												 clean and purified clean water. All living beings are water-dependent and over 72% of productive sectors
												  require water, there is no one-fit-all solution when it comes to providing clean water. We seek to be a 
												  solution for different segments of the market. The solutions offered are bundled through four different 
												  offerings each targeted to a different customer segment. Each of the solutions is complemented by our capacity 
												  to conduct geophysical surveys and other feasibility studies.
													</h5> </div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="section mcb-section mcb-section-1fi4dc2ig" style="padding-top:120px;">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-9y5i6yr10 one-second valign-top clearfix" style="padding:0 7%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-ntwejo5u7 one column_column">
											<div class="column_attr clearfix" style>
												<h2 class="themecolor">AMAZI</h2>
												<hr class="no_line" style="margin:0 auto 20px">
												<h5 style="color:#8e9aac;">To ensure all taps provide safe water and encourage rain water harvesting,  Amazi provides first flush diverter systems and point of entry filtration systems. With this solution, households, schools, clinics can save on their water bill in the rain season while reducing the amount of run-off water that would otherwise cause flooding. The systems come with a one-year warranty. Filters include in-line filters, table-top, portable and Aquatabs Chlorinators</h5>
												<hr class="no_line" style="margin:0 auto 20px">
												 </div>
										</div>
										
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-f6iz165n0 one-second valign-top clearfix" style>
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-grpkm0axo one column_image">
											<div class="image_frame image_item no_link scale-with-grid no_border">
												<div class="image_wrapper"><img class="scale-with-grid" src="{% static "web/images/scooterrental-vehicles-pic1.JPG"%}" alt="scooterrental-vehicles-pic1" title width="780" height="1061"> </div>
											</div>
										</div>
										
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-0w3abedux one valign-top clearfix" style>
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-gxcpndjrn one column_divider">
											<hr class="no_line" style="margin:0 auto 110px"> </div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-0nj2p7onw one-second valign-top clearfix" style>
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-rrpfgwgpk one column_image">
											<div class="image_frame image_item no_link scale-with-grid no_border">
												<div class="image_wrapper"><img class="scale-with-grid" src="{% static "web/images/scooterrental-vehicles-pic2.JPG"%}" alt="scooterrental-vehicles-pic2" title width="780" height="1061"> </div>
											</div>
										</div>
										
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-kphlgq18g one-second valign-top clearfix" style="padding:0 7%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-oec8ivm9r one column_column">
											<div class="column_attr clearfix" style>
												<h2 class="themecolor">INUMA</h2>
												<hr class="no_line" style="margin:0 auto 20px">
												<h5 style="color:#8e9aac;">INUMA creates a borehole-fed micro-grid piped safe water network where purified safe water is available at public points and piped into households for private access. All water is purified through a treatment process, pumped using solar and AC and sold via pre-paid water meters activated through a token. </h5>
												<hr class="no_line" style="margin:0 auto 20px">
												 </div>
										</div>
										
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-cko0k2bnq one valign-top clearfix" style>
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-376r5rzus one column_divider">
											<hr class="no_line" style="margin:0 auto 110px"> </div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-5g0nkcmj8 one-second valign-top clearfix" style="padding:0 7%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-p7j6jl4zt one column_column">
											<div class="column_attr clearfix" style>
												<h2 class="themecolor">UHIRA</h2>
												<hr class="no_line" style="margin:0 auto 20px">
												<h5 style="color:#8e9aac;">DTargeted at farmers and off-grid businesses, uhira includes a borehole, a solar pump, a pipeline, elevated storage system and an optional cattle trough or tap system from the tank. </h5>
												<hr class="no_line" style="margin:0 auto 20px">
 </div>
										</div>
										
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-41darx7or one-second valign-top clearfix" style>
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-eesys0hs1 one column_image">
											<div class="image_frame image_item no_link scale-with-grid no_border">
												<div class="image_wrapper"><img class="scale-with-grid" src="{% static "web/images/scooterrental-vehicles-pic3.jpg"%}" alt="scooterrental-vehicles-pic3" title width="780" height="1061"> </div>
											</div>
										</div>
										<div class="column mcb-column mcb-item-t0kahxzae one column_button">
											<div class="button_align align_center">  </div>
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-4jhj7yhbc one valign-top clearfix" >
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-fi41gbl4p one column_divider">
											<hr class="no_line" style="margin:0 auto 110px"> </div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-g126itnmt one-second valign-top clearfix" style>
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-atnsnzqpj one column_image">
											<div class="image_frame image_item no_link scale-with-grid no_border">
												<div class="image_wrapper"><img class="scale-with-grid" src="{% static "web/images/scooterrental-vehicles-pic4.jpg"%}" alt="scooterrental-vehicles-pic4" title width="780" height="1061"> </div>
											</div>
										</div>
										
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-71h96zkl7 one-second valign-top clearfix" style="padding:0 7%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-02xf4t4w2 one column_column">
											<div class="column_attr clearfix" style>
												<h2 class="themecolor">VOMA</h2>
												<hr class="no_line" style="margin:0 auto 20px">
												<h5 style="color:#8e9aac;">The full company’s technical capacities can be re-arranged and bundled up to achieve other project objectives for custom-designed projects ran by NGOs, Carbon Credit Project Developers, government, CSR partnerships, etc. With VOMA projects, we also offer WASH trainings, baseline surveying and M&E aspects through smart surveying tools.</h5>
												<hr class="no_line" style="margin:0 auto 20px">
												 </div>
										</div>
										
									</div>
								</div>
							</div>
							<br><br><br><br><br><br><br><br>
							<div class="section mcb-section mcb-section-f698c00f3 full-width bg-cover" style="padding-top:120px;padding-left:5%;padding-right:5%;background-color:#020202" >
								<div class="section_wrapper mcb-section-inner">
									<div class="wrap mcb-wrap mcb-wrap-f96ea2ed0 one scooterrental-wrap-radius valign-top bg-cover move-up clearfix" style="padding:100px 15%;background-color:#00b4e3;margin-top:-320px;background-image:url({% static "web/images/scooterrental-section-bg2.png" %});background-repeat:no-repeat;background-position:left top" data-mobile="no-up">
										<div class="mcb-wrap-inner">
											<div class="column mcb-column mcb-item-dbdd0316b one-second column_column">
												<div class="column_attr clearfix" style="padding:0 10% 0 0;">
													<h2 style="color:#FFF;">If you have any questions, please feel free to call us</h2>
												</div>
											</div>
											<div class="column mcb-column mcb-item-8d810f407 one-second column_column">
												<div class="column_attr clearfix mobile_align_center" style="padding:10px 0 0;">
													<h3 style="color:#FFF;"><i class="icon-mobile" style="color:#fff"></i>+250 788 888 888</h3>
													<hr class="no_line" style="margin:0 auto 40px">
													<h5>Rainwater is safe water clean safe water</h5>
												</div>
											</div>
											<div class="column mcb-column mcb-item-7a8f9e84c one column_button">
												<a class="button button_size_2" href="{% url 'contact_us' %}" ><span class="button_label">SEND US A MESSAGE</span></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
<footer id="Footer" class="clearfix ">
			<div class="widgets_wrapper ">
				<div class="container">
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h6 style="color:#7d7d7d">QUICK LINKS</h6>
									<hr class="no_line" style="margin:0 auto 20px">
									{% comment %} <p> <a href="{% url 'about' %}"> About us</a> </p> {% endcomment %}
									<p> <a href="https://www.warwanda.com/">Service</a> </p>
									<p> <a href="{% url 'rainwater' %}">Rainwater</a> </p>
									<p> <a href="{% url 'login' %}">LOGIN</a> </p>
								</div>
							</div>
						</aside>
					</div>
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h3>Rainwater is safe water
										<br>
										 
									<hr class="no_line" style="margin:0 auto 20px">
									<a href="#"><img src="{% static "web/images/scooterrental-footer-btn1.png" %}"></a>
									<a href="#"><img src="{% static "web/images/scooterrental-footer-btn2.png" %}"></a>
									<hr class="no_line" style="margin:0 auto 20px">
									<p> <a href="{% url 'contact_us' %}">CONTACT US <i class="icon-right-thin" style="color:#00b4e3"></i></a> </p>
									<hr class="no_line" style="margin:0 auto 80px"> </div>
							</div>
						</aside>
					</div>
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h6 style="color:#7d7d7d">MORE INFO</h6>
									<hr class="no_line" style="margin:0 auto 20px">
									<p ><a href="https://twitter.com/amazirw" style="margin-left:1px;"><i class="fa fa-twitter-square fa-2x" style="color:#00ACEE"></i> Twitter</a> </p>
									<p><a href="https://web.facebook.com/amazirw?_rdc=1&_rdr" style="margin-left:20px;"><i class="fa fa-facebook-official fa-2x" style="color:#4267B2"></i>  Facebook</a> </p>
									<p><a href="https://www.instagram.com/amazirw/" style="margin-left:20px;"><i class="fa fa-instagram fa-2x"></i>  Instagram</a> </p>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>
			<div class="footer_copy">
				<div class="container">
					<div class="column one">
						<div class="copyright"> &copy; <script>document.write(new Date().getFullYear());</script> Water Access Rwanda </div>
					</div>
				</div>
			</div>
		</footer>
		</div>
		<div id="Side_slide" class="right dark" data-width="250">
		<div class="close-wrapper"> <a href="#" class="close"><i class="icon-cancel-fine"></i></a> </div>
		<div class="menu_wrapper"></div>
		<div class="extras"> <a href="{% url 'shopping' %}" class="action_button" target="_blank">SHOP</a>
			<div class="extras-wrapper"></div>
		</div>
	</div>
		<div id="body_overlay"></div>
		
		

 <!-- JS -->
 <script src="{% static "web/js/jquery-2.1.4.min.js"></script>

 <script src="{% static "web/js/mfn.menu.js" %}"></script>
 <script src="{% static "web/js/jquery.plugins.js" %}"></script>
 <script src="{% static "web/js/jquery.jplayer.min.js" %}"></script>
 <script src="{% static "web/js/animations/animations.js" %}"></script>
<script src="{% static "web/js/translate3d.js" %}"></script>
 <script src="{% static "web/js/scripts.js" %}"></script>
	

	</body>
</html>
<!-- Localized -->