<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Be</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- FONTS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:100,100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lora:100,300,400,400italic,500,700,700italic'>

    <!-- CSS -->
    <link rel='stylesheet' href='css/global.css'>
    <link rel='stylesheet' href='css/structure.css'>
    <link rel='stylesheet' href='css/betheme.css'>
    <link rel='stylesheet' href='css/custom.css'>


</head>

<body class="woocommerce woocommerce-page with_aside aside_right color-custom style-default layout-full-width header-plain header-fw minimalist-header sticky-header sticky-white ab-hide subheader-both-center menuo-last menuo-right mm-vertical mobile-tb-hide mobile-mini-mr-ll">
    <div id="Wrapper">
        <div id="Header_wrapper">
			<header id="Header" >
				<div id="Top_bar" style="background-color:white;border:none">
					<div class="container">
						<div class="column one">
							<div class="top_bar_left clearfix"  >
								<div class="logo">
									<a id="logo" href="index.html" title="BeScooterRental - Betheme" data-height="60" data-padding="30"><img class="logo-main scale-with-grid" src="images/scooterrental.png" data-retina="images/retina-scooterrental.png" data-height="50" alt="scooterrental" data-no-retina><img class="logo-sticky scale-with-grid" src="images/scooterrental.png" data-retina="images/retina-scooterrental.png" data-height="50" alt="scooterrental" data-no-retina><img class="logo-mobile scale-with-grid" src="images/scooterrental.png" data-retina="images/retina-scooterrental.png" data-height="50" alt="scooterrental" data-no-retina><img class="logo-mobile-sticky scale-with-grid" src="images/scooterrental.png" data-retina="images/retina-scooterrental.png" data-height="50" alt="scooterrental" data-no-retina></a>
								</div>
								<div class="menu_wrapper">
									<nav id="menu">
										<ul id="menu-main-menu" class="menu menu-main" >
											<li> <a href="index.html"><span style="border:none;color:black">Home</span></a> </li>
											<li> <a href="about.html"><span style="border:none;color:black">About us</span></a> </li>
											<li> <a href="service.html"><span style="border:none;color:black">Service</span></a> </li>
                                            <li> <a href="ijabo.html"><span>Ijabo</span></a> </li>
											<li> <a href="blog.html"><span>Blog</span></a> </li>
											<li> <a href="contact.html"><span style="border:none;color:black">Contact</span></a> </li>
										</ul>
									</nav><a class="responsive-menu-toggle " href="#"><i class="icon-menu-fine"></i></a> </div>
							</div>
							
						</div>
					</div>
				</div>
			</header>
		</div>
            <div id="Subheader">
                <div class="container">
                    <div class="column one">
                        <h1 class="title">Shop</h1>
                    </div>
                </div>
            </div>
        </div>
        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="section">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one woocommerce-content">
                                   
                                    <div class="products_wrapper isotope_wrapper">
                                        <ul class="products grid">
                                            <li class="isotope-item product">
                                                <div class="image_frame scale-with-grid product-loop-thumb" >
                                                    <div class="image_wrapper">
                                                        <a href="product_page.html">
                                                            <div class="mask"></div><img width="800" height="800" src="images/poster_2_up-500x500.jpg" class="scale-with-grid wp-post-image" alt="">
                                                        </a>
                                                        
                                                    </div><span class="onsale"><i class="icon-star"></i></span><a href="product_page.html"><span class="product-loading-icon added-cart"></span></a>
                                                </div>
                                                <div class="desc">
                                                    <h4><a href="product_page.html">Flying Ninja</a></h4>
                                                    
                                                    <span class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>15.00</span>
                                                    </del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>12.00</span></ins>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="isotope-item product">
                                                <div class="image_frame scale-with-grid product-loop-thumb" >
                                                    <div class="image_wrapper">
                                                        <a href="product_page.html">
                                                            <div class="mask"></div><img width="500" height="500" src="images/T_7_front-500x500.jpg" class="scale-with-grid wp-post-image" alt="">
                                                        </a>
                                                        
                                                    </div><a href="product_page.html"><span class="product-loading-icon added-cart"></span></a>
                                                </div>
                                                <div class="desc">
                                                    <h4><a href="product_page.html">Happy Ninja</a></h4>
                                                    
                                                    <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>18.00</span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="isotope-item product">
                                                <div class="image_frame scale-with-grid product-loop-thumb" >
                                                    <div class="image_wrapper">
                                                        <a href="product_page.html">
                                                            <div class="mask"></div><img width="500" height="500" src="images/hoodie_4_front-500x500.jpg" class="scale-with-grid wp-post-image" alt="">
                                                        </a>
                                                        
                                                    </div><a href="product_page.html"><span class="product-loading-icon added-cart"></span></a>
                                                </div>
                                                <div class="desc">
                                                    <h4><a href="product_page.html">Happy Ninja</a></h4>
                                                   
                                                    <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>35.00</span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="isotope-item product">
                                                <div class="image_frame scale-with-grid product-loop-thumb" >
                                                    <div class="image_wrapper">
                                                        <a href="product_page.html">
                                                            <div class="mask"></div><img width="500" height="500" src="images/T_5_front-500x500.jpg" class="scale-with-grid wp-post-image" alt="">
                                                        </a>
                                                        
                                                    </div><a href="product_page.html"><span class="product-loading-icon added-cart"></span></a>
                                                </div>
                                                <div class="desc">
                                                    <h4><a href="product_page.html">Ninja Silhouette</a></h4>
                                                    
                                                    <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>20.00</span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="isotope-item product">
                                                <div class="image_frame scale-with-grid product-loop-thumb" >
                                                    <div class="image_wrapper">
                                                        <a href="product_page.html">
                                                            <div class="mask"></div><img width="500" height="500" src="images/hoodie_5_front-500x500.jpg" class="scale-with-grid wp-post-image" alt="">
                                                        </a>
                                                        
                                                    </div><a href="product_page.html"><span class="product-loading-icon added-cart"></span></a>
                                                </div>
                                                <div class="desc">
                                                    <h4><a href="product_page.html">Ninja Silhouette</a></h4>
                                                    
                                                    <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>35.00</span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="isotope-item product">
                                                <div class="image_frame scale-with-grid product-loop-thumb" >
                                                    <div class="image_wrapper">
                                                        <a href="product_page.html">
                                                            <div class="mask"></div><img width="500" height="500" src="images/hoodie_3_front-500x500.jpg" class="scale-with-grid wp-post-image" alt="">
                                                        </a>
                                                        
                                                    </div><a href="product_page.html"><span class="product-loading-icon added-cart"></span></a>
                                                </div>
                                                <div class="desc">
                                                    <h4><a href="product_page.html">Patient Ninja</a></h4>
                                                    
                                                    <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>35.00</span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="isotope-item product">
                                                <div class="image_frame scale-with-grid product-loop-thumb" >
                                                    <div class="image_wrapper">
                                                        <a href="product_page.html">
                                                            <div class="mask"></div><img width="500" height="500" src="images/T_2_front-500x500.jpg" class="scale-with-grid wp-post-image" alt="">
                                                        </a>
                                                        
                                                    </div><a href="product_page.html"><span class="product-loading-icon added-cart"></span></a>
                                                </div>
                                                <div class="desc">
                                                    <h4><a href="product_page.html">Premium Quality</a></h4>
                                                   
                                                    <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>20.00</span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="isotope-item product">
                                                <div class="image_frame scale-with-grid product-loop-thumb" >
                                                    <div class="image_wrapper">
                                                        <a href="product_page.html">
                                                            <div class="mask"></div><img width="500" height="500" src="images/poster_3_up-500x500.jpg" class="scale-with-grid wp-post-image" alt="">
                                                        </a>
                                                        
                                                    </div><span class="onsale"><i class="icon-star"></i></span><a href="product_page.html"><span class="product-loading-icon added-cart"></span></a>
                                                </div>
                                                <div class="desc">
                                                    <h4><a href="product_page.html">Premium Quality</a></h4>
                                                    
                                                    <span class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>15.00</span>
                                                    </del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>12.00</span></ins>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="isotope-item product">
                                                <div class="image_frame scale-with-grid product-loop-thumb" >
                                                    <div class="image_wrapper">
                                                        <a href="product_page.html">
                                                            <div class="mask"></div><img width="500" height="500" src="images/T_4_front-500x500.jpg" class="scale-with-grid wp-post-image" alt="">
                                                        </a>
                                                        <div class="image_links ">
                                                            <a class="link" href="product_page.html"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div><a href="product_page.html"><span class="product-loading-icon added-cart"></span></a>
                                                </div>
                                                <div class="desc">
                                                    <h4><a href="product_page.html">Ship Your Idea</a></h4>
                                                    
                                                    <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>20.00</span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="isotope-item product">
                                                <div class="image_frame scale-with-grid product-loop-thumb" >
                                                    <div class="image_wrapper">
                                                        <a href="product_page.html">
                                                            <div class="mask"></div><img width="500" height="500" src="images/hoodie_7_front-500x500.jpg" class="scale-with-grid wp-post-image" alt="">
                                                        </a>
                                                        <div class="image_links ">
                                                            <a class="link" href="product_page.html"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div><span class="onsale"><i class="icon-star"></i></span><a href="product_page.html"><span class="product-loading-icon added-cart"></span></a>
                                                </div>
                                                <div class="desc">
                                                    <h4><a href="product_page.html">Ship Your Idea</a></h4>
                                                    
                                                    <span class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>35.00</span>
                                                    </del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>30.00</span>&ndash;<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>35.00</span></ins>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="isotope-item product">
                                                <div class="image_frame scale-with-grid product-loop-thumb" >
                                                    <div class="image_wrapper">
                                                        <a href="product_page.html">
                                                            <div class="mask"></div><img width="500" height="500" src="images/poster_1_up-500x500.jpg" class="scale-with-grid wp-post-image" alt="">
                                                        </a>
                                                        
                                                    </div><a href="product_page.html"><span class="product-loading-icon added-cart"></span></a>
                                                </div>
                                                <div class="desc">
                                                    <h4><a href="product_page.html">Ship Your Idea</a></h4><span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>15.00</span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="isotope-item product">
                                                <div class="image_frame scale-with-grid product-loop-thumb" >
                                                    <div class="image_wrapper">
                                                        <a href="product_page.html">
                                                            <div class="mask"></div><img width="500" height="500" src="images/cd_1_angle-500x500.jpg" class="scale-with-grid wp-post-image" alt="">
                                                        </a>
                                                        
                                                    </div><a href="product_page.html"><span class="product-loading-icon added-cart"></span></a>
                                                </div>
                                                <div class="desc">
                                                    <h4><a href="product_page.html">Woo Album #1</a></h4><span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>9.00</span>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="column one pager_wrapper">
                                        <div class="pager">
                                            <div class="pages">
                                                <span class='page-numbers current'>1</span><a class='page-numbers' href='#'>2</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <footer id="Footer" class="clearfix ">
			<div class="widgets_wrapper ">
				<div class="container">
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h6 style="color:#7d7d7d">MEET US</h6>
									<hr class="no_line" style="margin:0 auto 20px">
									<p> <a href="ijabo.html">How it works</a> </p>
									<p> <a href="vehicles.html">Find a vehicle</a> </p>
									<p> <a href="index.html#pricing">Pricing</a> </p>
									<p> <a href="about.html"> About us</a> </p>
									<p> <a href="contact.html">Contact</a> </p>
								</div>
							</div>
						</aside>
					</div>
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h3>Rent a scooter
										<br>
										<span class="themecolor">just like that!</span></h3>
									<hr class="no_line" style="margin:0 auto 20px">
									<a href="#"><img src="images/scooterrental-footer-btn1.png"></a>
									<a href="#"><img src="images/scooterrental-footer-btn2.png"></a>
									<hr class="no_line" style="margin:0 auto 20px">
									<p> <a href="contact.html">FIND OUT MORE <i class="icon-right-thin" style="color:#00d285"></i></a> </p>
									<hr class="no_line" style="margin:0 auto 80px"> <img src="images/scooterrental-footer-logo.png"> </div>
							</div>
						</aside>
					</div>
					<div class="column one-third">
						<aside class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div style="text-align: center;">
									<h6 style="color:#7d7d7d">MORE INFO</h6>
									<hr class="no_line" style="margin:0 auto 20px">
									<p> <a href="#">News</a> </p>
									<p> <a href="#">FAQ</a> </p>
									<p> <a href="#">Work</a> </p>
									<p> <a href="#"> Franchise</a> </p>
									<p> <a href="#">Partners</a> </p>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>
			<div class="footer_copy">
				<div class="container">
					<div class="column one">
						<div class="copyright"> &copy; 2021 BeScooterRental - BeTheme. Muffin group - HTML by <a  rel="nofollow" href="https://1.envato.market/9ZxXY">BeantownThemes</a> </div>
					</div>
				</div>
			</div>
		</footer>
    </div>


    <!-- JS -->
    <script src="../js/jquery-2.1.4.min.js"></script>

    <script src="../js/mfn.menu.js"></script>
    <script src="../js/jquery.plugins.js"></script>
    <script src="../js/jquery.jplayer.min.js"></script>
    <script src="../js/animations/animations.js"></script>
    <script src="../js/translate3d.js"></script>
    <script src="../js/scripts.js"></script>

    <script>
        jQuery(window).load(function() {
            var retina = window.devicePixelRatio > 1 ? true : false;
            if (retina) {
                var retinaEl = jQuery("#logo img.logo-main");
                var retinaLogoW = retinaEl.width();
                var retinaLogoH = retinaEl.height();
                retinaEl.attr("src", "images/retina-theme.png").width(retinaLogoW).height(retinaLogoH);
                var stickyEl = jQuery("#logo img.logo-sticky");
                var stickyLogoW = stickyEl.width();
                var stickyLogoH = stickyEl.height();
                stickyEl.attr("src", "images/retina-theme.png").width(stickyLogoW).height(stickyLogoH);
                var mobileEl = jQuery("#logo img.logo-mobile");
                var mobileLogoW = mobileEl.width();
                var mobileLogoH = mobileEl.height();
                mobileEl.attr("src", "images/retina-theme.png").width(mobileLogoW).height(mobileLogoH);
                var mobileStickyEl = jQuery("#logo img.logo-mobile-sticky");
                var mobileStickyLogoW = mobileStickyEl.width();
                var mobileStickyLogoH = mobileStickyEl.height();
                mobileStickyEl.attr("src", "images/retina-theme.png").width(mobileStickyLogoW).height(mobileStickyLogoH);
            }
        });
    </script>


</body>

</html>
<!-- Localized -->